
MODE='PRO' # DEV or PRO

# Google Analytics
GA='UA-16492540-1'

TRACKER="""<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', '"""+GA+"""']);
_gaq.push(['_trackPageview']);

(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>"""
if MODE=='DEV':
	TRACKER=''

EDITOR_JS=[]
if MODE=='DEV':
	EDITOR_JS = [
		'base',
		'calc',
		'canvas-manipulate',
		'ccp',
		'dom-manipulate',
		'draw',
		'editor',
		'findAndReplace',
		'init',
		'keyboard',
		'menu',
		'mouse',
		'notes',
		'prompts',
		'sort',
		'spellcheck',
		'window'
	]

elif MODE=='PRO':
	EDITOR_JS=['editor-compiled']

EDITOR_CSS=[]
if MODE=="DEV":
	EDITOR_CSS=[
		'menu',
		'menuitem',
		'menuseparator',
		'common',
		'toolbar',
		'button',
		'custombutton',
		'autocomplete',
		'dialog',
		'linkbutton',
		'tab',
		'tabbar',
		'colormenubutton',
		'palette',
		'colorpalette',
		'editor/bubble',
		'editor/dialog',
		'editor/linkdialog',
		'editortoolbar',
	]
elif MODE=="PRO":
	EDITOR_CSS=[]


# Scriptlist
SCRIPTLIST_JS=[]
if MODE=="DEV":
	SCRIPTLIST_JS=[
		'base',
		'scriptlist'
	]
elif MODE=="PRO":
	SCRIPTLIST_JS=[]

SCRIPTLIST_CSS=[]
if MODE=="DEV":
	SCRIPTLIST_CSS=[
		'menu',
		'menuitem',
		'menuseparator',
		'common',
		'toolbar',
		'button',
		'custombutton',
		'autocomplete'
	
	]
elif MODE=="PRO":
	SCRIPTLIST_CSS=[]
