# Rawscripts - Screenwriting Software
# Copyright (C) Ritchie Wilson
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.


# MODE -- DEV or PRO. 
#
# In development mode, closure libraray dynamicaly calls javascript
# and css files as it needs them, and as a result makes dozens of http
# requests. On localhost this is fine, and is the recommended way to
# do development.
#
# Production mode assumes you have compiled javascript into one big
# file for each page, and have concat'd css into one file for each
# page. There are tools in scripts/ to help you with this.

MODE='DEV'


# GOOGLE ANALYTICS
#
# Enter your analytics id number for tracking. For example
# 'UA-12345678-1', with quotes.
#
# To disable, leave as False.
GA=False

EDITOR_JS=[]
if MODE=='DEV':
	EDITOR_JS = [
		'base',
		'calc',
		'canvas-manipulate',
		'ccp',
		'dom-manipulate',
		'draw',
		'editor',
		'findAndReplace',
		'init',
		'keyboard',
		'menu',
		'mouse',
		'notes',
		'prompts',
		'sort',
		'spellcheck',
		'window'
	]

elif MODE=='PRO':
	EDITOR_JS=['editor-compiled']

EDITOR_CSS=[]
if MODE=="DEV":
	EDITOR_CSS=[
		'menu',
		'menuitem',
		'menuseparator',
		'common',
		'toolbar',
		'button',
		'custombutton',
		'autocomplete',
		'dialog',
		'linkbutton',
		'tab',
		'tabbar',
		'colormenubutton',
		'palette',
		'colorpalette',
		'editor/bubble',
		'editor/dialog',
		'editor/linkdialog',
		'editortoolbar',
	]
elif MODE=="PRO":
	EDITOR_CSS=[]


# Scriptlist
SCRIPTLIST_JS=[]
if MODE=="DEV":
	SCRIPTLIST_JS=[
		'base',
		'scriptlist'
	]
elif MODE=="PRO":
	SCRIPTLIST_JS=[]

SCRIPTLIST_CSS=[]
if MODE=="DEV":
	SCRIPTLIST_CSS=[
		'menu',
		'menuitem',
		'menuseparator',
		'common',
		'toolbar',
		'button',
		'custombutton',
		'autocomplete'
	
	]
elif MODE=="PRO":
	SCRIPTLIST_CSS=[]
