  body{padding:0; margin:0;height:100%; overflow:hidden; background-color:#ccc}
  html{height:100%; margin:0; padding:0; overflow:hidden;}
  img{border:none;}
  #optionsbar {
	font-family:sans-serif;
	font-size:10pt;
   }
  #optionsbar a{
	color:blue;
}
  .close{
	position:absolute;
	top:-15px;
	right:-15px;
	}
  #suggestBox{
	background-color:#f9f9f9;
	border:1px #333 solid;
	border-top:1px #999 solid;
	border-left:1px #999 solid;
	min-width:70px;
  }
  .suggestItem{
	padding:2px;
	font-family:Courier;
	font-size:10pt;
	cursor:pointer;
  }
  .TEXT{
    background-color:white;
  }
  .toolBar{
    font-family:sans-serif;
    font-size:10pt;
    background-color:#A2BAE9; 
    width:100%;
    border-top:1px #000 solid;
	border-bottom:1px #aaa solid;
	padding:0;
  }
  
  .sceneItem{
	font-family:Courier; 
	font-size:10pt;
	margin: 0px 0px 0px 10px; 
	cursor:pointer;
  }
  #header{padding:0px;}
  #menu{
	padding-top:0px;
    background-color:#A2BAE9;
  }
  #helpMenu{
    width:150px;
    position:fixed; 
    top:63px; 
    left:161px; 
    border-right:1px #333 solid; 
    border-bottom:1px #333 solid; 
    border-top:1px #999 solid; 
    border-left:1px #999 solid;
    background-color:#fff;
    display:none;
  }
  #context_menu{
	background-color:white;
	border-right:1px #666 solid;
	border-bottom:1px #666 solid;
	border-top:1px #aaa solid;
	border-left:1px #aaa solid;
  }
  .contextUnit{
	font-family:sans-serif;
	font-size:10pt;
	padding:3px 20px 3px 15px;
	cursor:pointer;
  }
  .contextUnit:hover{
	background-color:LightSkyBlue
  }
  td{padding:0;}
  #titleBar{
    height:40px;
    background-color:#6484DF;
  }
  #toolBar{
  }
  .menuItem{
    margin-top:0px;
    padding: 4px 7px 4px 7px;
    cursor:pointer;
  }
  .hl{
    height:7px;
    width:100%
    border:1px #000 solid;
    color:blue;
  }
  #title{
    font-size:18pt;
    padding:2px;
	margin:3px;
    text-shadow: 1px 1px 1px #999;
    float:left;
	cursor:text;
  }
  .thread{
    border:1px #666 solid;
    padding:5px;
    margin:10px;
    background-color:#efeff1;
    -moz-box-shadow: 3px 3px 3px #999;
    -webkit-box-shadow: 3px 3px 3px #999;
  }
  .msg{
	  background-color:#6A97FF;
      padding:5px;
      margin:3px;
      font-size:11pt;
      -moz-border-radius: 5px; 
      -webkit-border-radius: 5px;
      cursor:pointer;
  }
  .msgInfo{
    padding-top:2px;
    font-size:11pt;
  }
  .respondControls{
	  background-color:#26972D;
	  cursor:pointer;
      padding:5px;
      margin:3px;
  }
  .respond{
	  background-color:#26972D;
	  cursor:pointer;
      padding:5px;
      margin:3px;
      -moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
  }
  #nmi{
    padding:5px;
    margin:3px;
    background-color:white;
  }
  .TEXT{  
  font-size:10pt;  
  background-color:white; 
  border-style:inset; 
  border-width:2px;
  font-family:Verdana, Geneva, sans-serif;
  width:400px;
}
.token{
	background-color:#ddd;
	padding:3px;
	margin:3px;
	float:none;
	font:Verdana, Geneva, sans-serif;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	float:left;
	}
.token a{
	text-decoration:none;
	color:#000;
}
.mailto{
	display:none;
}
.spellcheckitem{
    font-family:Verdana, Geneva, sans-serif;
    font-size:10pt;
    cursor:pointer;
}
#spellcheckfocus{
    background-color:lightBlue;
}
.tab{
    background-color:#6C8CD5;
    padding:2px;
    font-family:sans-serif;
    font-size:11pt;
    border:2px #3F5EA6 solid;
    cursor:pointer;
}

#scenes{margin-top:4px;}
#find_div{
	position:fixed; 
	top:96px; 
	right:350px;
	padding:2px;
	background-color:#f0f0f0;
	border:1px #999 solid;
	border-top:none;
	width:300px;
	display:none;
}
#find_replace_div{
	position:fixed; 
	top:96px; 
	right:350px;
	padding:2px;
	background-color:#f0f0f0;
	border:1px #999 solid;
	border-top:none;
	width:320px;
	display:none;
	font-family:sans-serif;
	font-size:10pt;
}
#find_input{
	float:left;
}
#down_find_button, #up_find_button{
	float:left;
	width:16px;
	height:16px;
}
#find_number_found{
	margin-top:3px;
	font-family:sans-serif;
	color:#666;
	font-size:10pt;
	float:right;
}
.noteListUnit{
	background-color:Khaki;
	padding:4px;
	margin:5px;
	font-size:10pt;
	cursor:pointer;
	border:1px #666 solid;
}
.noteMessage{
	background-color:lightYellow;
	font-family:sans-serif;
	font-size:10pt;
	padding:3px;
	margin:3px;
	border:1px #aaa solid;
}
.noteMessageUnread{
	background-color:Salmon;
	font-family:sans-serif;
	font-size:10pt;
	padding:3px;
	margin:3px;
	border:1px #aaa solid;
	cursor:pointer;
}
.modal-dialog{
	width:475px;
}
.modal-dialog-content{
	overflow:auto;
	max-height:500px;
}
.messageEditBox{
	width:100%;
	height:200px;
	border: 1px Grey solid;
}
.noteControls{
	color:#06c;
	cursor:pointer;
}
.popup{
	font-family:sans-serif;
	font-size:10pt;
}
td a{
	color: black;
	text-decoration:none;
}