body {
    padding: 0;
    margin: 0;
    height: 100%;
}
html {
    height: 99%;
    margin: 0;
    padding: 0;
}
.TEXT {
    background-color: white;
}
.toolBar {
    font-family: sans-serif;
    font-size: 10pt;
    float: left;
    background-color: #A2BAE9;
    width: 100%;
    border-top: 2px #000 solid;
}
.sceneItem {
    font-family: Courier;
    font-size: 10pt;
    margin: 0px 0px 0px 10px;
    cursor: pointer;
}
#header {
    padding: 0px;
}
#titleBar {
    height: 30px;
}
#toolBar {} .menuItem {
    float: left;
    margin-top: 0px;
    padding: 4px 7px 4px 7px;
    cursor: pointer;
}
.hl {
    height: 7px;
    width: 100% border: 1px #000 solid;
    color: blue;
}
#title {
    font-size: 18pt;
    padding: 6px;
    text-shadow: 1px 1px 1px #999;
    float: left;
}
.TEXT {
    font-size: 10pt;
    background-color: white;
    border-style: inset;
    border-width: 2px;
    font-family: Verdana, Geneva, sans-serif;
    width: 400px;
}
#sidebar {
    background-color: #ccc;
    border-right: 2px ridge;
}
.s {
    font-family: Courier;
    font-size: 10pt;
    margin: 0 0 15px 0;
    text-transform: uppercase;
    width: 500px;
}
.a {
    font-family: Courier;
    font-size: 10pt;
    margin: 0 0 15px 0;
    width: 500px;
}
.c {
    font-family: Courier;
    font-size: 10pt;
    margin: 0 0 0 170px;
    text-transform: uppercase;
}
.d {
    font-family: Courier;
    font-size: 10pt;
    margin: 0 0 15px 90px;
    width: 280px;
}
.p {
    font-family: Courier;
    font-size: 10pt;
    margin: 0 0 0 125px;
}
.t {
    font-family: Courier;
    font-size: 10pt;
    margin: 0 0 15px 450px;
    text-transform: uppercase;
}
ins {
    background-color: #67e667;
    text-decoration: none;
}
del {
    background-color: #ff7373;
    text-decoration: none;
}
hr {
    margin: 100px 0;
}
.autosave {
    display: none;
}
.manualsave td {
    border-top: 1px #666 solid;
    border-bottom: 1px #666 solid;
    background-color: #A2BAE9;
}
.copy {
    visibility: hidden;
    background-color: #ccc;
}
.data {
    display: none;
}
