@charset "UTF-8";
/* CSS Document */
img { border:none; }
tr {border:1px #999999 solid; width:90%}
td {border:none}
body{
	margin:0; 
	padding:0;
	font-family:sans-serif;
	font-size:10pt;
}
.ui-menu{
	width:400px;
}

.ui-menu-item{
	font-size:65%
	}
.TEXT{  
  font-size:10pt;  
  background-color:white; 
  border-style:inset; 
  border-width:2px;
  font-family:Verdana, Geneva, sans-serif;
  width:400px;
}
.token{
	background-color:#ddd;
	padding:3px;
	margin:3px;
	float:none;
	font:Verdana, Geneva, sans-serif;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	float:left;
	}
.token a{
	text-decoration:none;
	color:#000;
}
.mailto{
	display:none;
}

#loading{
	/*color:#333;
	padding-top:2px;
	padding-bottom:4px;
	font-size:22px;
	background-color:#FF6;
	width:200px;
	margin:auto;
	-moz-border-radius-bottomleft:15px;
	-webkit-border-bottom-left-radius:15px;
	-moz-border-radius-bottomright:15px;
	-webkit-border-bottom-right-radius:15px;
	border:1px #eee solid;
	border-top:none;
	*/
}
#nav{
	position:absolute;
	left:0px;
	top:135px;
	width:50%;
}
.tab{
	cursor:pointer;
	padding:2px 0 2px 15px;
	margin-top:0px;
	width:100%;
}
.current{
	background-color:#2352AE;
    color:white;
	font-weight:bold;
}
ul{
	margin:0;
	padding-left:15px;
}
li{
	list-style-type:none;
}
.entry{
	display:block;
	border-bottom:1px #999999 solid;
	background-color:#f9f9fc;
}
.checkboxCell{
	width:15px;
}
.folderCell{
	width:120px;
}
.sharedCell{
	width:120px;
}
.emailCell{
	width:120px;
}
.emailLink{
	right:10px;
}
.updatedCell{
	width:160px;
}
.gdocsCell{
	width:70px;
	border-left:1px #000 solid;
}
.redAlertSpan{
	color:red;
	font-size:small;
	vertical-align:super;
}
a{
	text-decoration:none;
	color:#000;
}
#header a{
	color:blue;
	text-decoration:underline;
}
#logo { 
	float: left; 
	background: url(../images/bluebg.png) repeat-x; 
	padding: 20px 25px 0px; 
	margin: 0px 20px 10px; 
	-webkit-box-shadow:0px 3px 6px #666;
	-moz-box-shadow:0px 3px 6px #666;
	box-shadow:0px 3px 6px #666;
	background-color:#36c;
}
#refresh{
	float:right;
	font-size:12pt;
	margin-right:10px;
}
#refresh a{
	color:#333;
	text-decoration:none;
}
#refresh_icon{
	visibility:visible;
}
#logo h1 { text-shadow: 1px 1px 1px #003399; font-family:Courier; }
h1 { font-size: 1.4em; font-weight: normal; }
#logo h1 a { color: #fff; font-size: 1.6em; text-decoration:none;}
#menu { float: right; margin: 13px 20px 0; }
#menu li { display: inline; font-size: 1.3em; }
#menu li a { float: left; color: #808080; padding: 0 0 5px; margin: 0 0 0 55px; text-decoration:none;}
#menu li a:hover, #menu li.current a, #menu li a:focus { color: #000; border-bottom: 1px solid #ddd; }
#noentries a {
	color:blue;
	text-decoration:underline;
}
.none_of_type{
	color:#666; 
	background-color:white; 
	padding-top:17px; 
	display:none;
	width:300px;
	margin:auto;
}
.popup_block{
	background:#87A7E6; 
	width:450px; 
	position:relative; 
	margin:auto; 
	top:15%; 
	padding:10px; 
	border:double;
}
.close{
	position:absolute;
	top:-15px;
	right:-15px;
}
#nf_div{
	width:160px;
	background-color:#ccc;
	margin-top:15px;
	margin-bottom:5px;
}
#new_folder{
	margin-left:40px;
}
.folderContents{
	right:0px; 
	border:2px #ccc solid; 
	border-top:none; 
	left:5pt; 
	top:0px; 
	bottom:0; 
	position:absolute;
	background-color:white; 
	overflow:auto; 
}
.contentsHeader{
	border-bottom:2px #999999 solid; 
	background-color:#ddd
}
.folderSpan{
	background-color:#0b0;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	padding:2px 4px 2px 4px;
}
#context_menu{
	background-color:#fff;
	border:1px #666 solid;
	border-left:1px #ccc solid;
	border-top:1px #ccc solid;
}
.context_unit{
	color:#333;
	font-family:sans-serif;
	font-size:10pt;
	padding:2px 10px 2px 5px;
	cursor:pointer;
}