body {
    padding: 0;
    margin: 0;
    background-color:#666;
}

textarea {
    resize: none;
}

textarea.form-control {
    line-height: 1.2;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #6484DF;
    padding: 5px;
}

#title{
	font-size:18pt;
	padding:2px;
	margin:3px;
    text-shadow: rgb(153, 153, 153) 1px 1px 1px;
	float: left;
	cursor: text;
    width: 90%;
}

#page {
    border:1px black solid;
    background-color:white;
    margin: auto;
    margin-top:70px;
    margin-bottom:30px;
    width:600px;
    height:800px;
    font-family:Courier;
    font-size:10pt;
}

.input-areas {
    width: 470px;
    margin: auto;
}

.input-areas textarea {
    margin: auto;
}

#title-area {
    margin-top: 262px;
}

#title-input {
 	text-decoration: underline;
    text-align: center;
    height: 3.5em;
}

#written-by-input {
    text-align: center;
}

#written-by-area {
    margin: auto;
    margin-top: 11px;
    margin-bottom: 47px;
    text-align: center;
    height: 12em;
}

#contact-input {
    height: 15.5em;
}

.simplebox {
  outline: none;
  border: 1px white solid !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
