/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

/*
 * Standard styling for menus created by goog.ui.MenuRenderer.
 *
 * @author attila@google.com (Attila Bodis)
 */


.goog-menu {
  background: #fff;
  border-color: #ccc #666 #666 #ccc;
  border-style: solid;
  border-width: 1px;
  cursor: default;
  font: normal 13px Arial, sans-serif;
  margin: 0;
  outline: none;
  padding: 4px 0;
  position: absolute;
  z-index: 20000; /* Arbitrary, but some apps depend on it... */
}
/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

/*
 * Standard styling for menus created by goog.ui.MenuItemRenderer.
 *
 * @author attila@google.com (Attila Bodis)
 */


/* State: resting. */
.goog-menuitem {
  color: #000;
  font: normal 13px Arial, sans-serif;
  list-style: none;
  margin: 0;
  /* 28px on the left for icon or checkbox; 7em on the right for shortcut. */
  padding: 4px 7em 4px 28px;
  white-space: nowrap;
}

/* If a menu doesn't have checkable items or items with icons, remove padding. */
.goog-menu-nocheckbox .goog-menuitem,
.goog-menu-noicon .goog-menuitem {
  padding-left: 12px;
}

/*
 * If a menu doesn't have items with shortcuts, leave just enough room for
 * submenu arrows, if they are rendered.
 */
.goog-menu-noaccel .goog-menuitem {
  padding-right: 20px;
}

.goog-menuitem-content {
  color: #000;
  font: normal 13px Arial, sans-serif;
}

/* State: disabled. */
.goog-menuitem-disabled .goog-menuitem-accel,
.goog-menuitem-disabled .goog-menuitem-content {
  color: #ccc !important;
}
.goog-menuitem-disabled .goog-menuitem-icon {
  opacity: 0.3;
  -moz-opacity: 0.3;
  filter: alpha(opacity=30);
}

/* State: hover. */
.goog-menuitem-highlight,
.goog-menuitem-hover {
  background-color: #d6e9f8;
  /* Use an explicit top and bottom border so that the selection is visible
   * in high contrast mode. */
  border-color: #d6e9f8;
  border-style: dotted;
  border-width: 1px 0;
  padding-bottom: 3px;
  padding-top: 3px;
}

/* State: selected/checked. */
.goog-menuitem-checkbox,
.goog-menuitem-icon {
  background-repeat: no-repeat;
  height: 16px;
  left: 6px;
  position: absolute;
  right: auto;
  vertical-align: middle;
  width: 16px;
}
.goog-option-selected .goog-menuitem-checkbox,
.goog-option-selected .goog-menuitem-icon {
  /* Client apps may override the URL at which they serve the sprite. */
  background: url(//ssl.gstatic.com/editor/editortoolbar.png) no-repeat -512px 0;
}

/* Keyboard shortcut ("accelerator") style. */
.goog-menuitem-accel {
  color: #999;
  /* Keyboard shortcuts are untranslated; always left-to-right. */
  /* @noflip */ direction: ltr;
  left: auto;
  padding: 0 6px;
  position: absolute;
  right: 0;
  text-align: right;
}

/* Mnemonic styles. */
.goog-menuitem-mnemonic-hint {
  text-decoration: underline;
}

.goog-menuitem-mnemonic-separator {
  color: #999;
  font-size: 12px;
  padding-left: 4px;
}
/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

/*
 * Standard styling for menus created by goog.ui.MenuSeparatorRenderer.
 *
 * @author attila@google.com (Attila Bodis)
 */


.goog-menuseparator {
  border-top: 1px solid #ccc;
  margin: 4px 0;
  padding: 0;
}
/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

/*
 * Cross-browser implementation of the "display: inline-block" CSS property.
 * See http://www.w3.org/TR/CSS21/visuren.html#propdef-display for details.
 * Tested on IE 6 & 7, FF 1.5 & 2.0, Safari 2 & 3, Webkit, and Opera 9.
 *
 * @author attila@google.com (Attila Bodis)
 */

/*
 * Default rule; only Safari, Webkit, and Opera handle it without hacks.
 */
.goog-inline-block {
  position: relative;
  display: -moz-inline-box; /* Ignored by FF3 and later. */
  display: inline-block;
}

/*
 * Pre-IE7 IE hack.  On IE, "display: inline-block" only gives the element
 * layout, but doesn't give it inline behavior.  Subsequently setting display
 * to inline does the trick.
 */
* html .goog-inline-block {
  display: inline;
}

/*
 * IE7-only hack.  On IE, "display: inline-block" only gives the element
 * layout, but doesn't give it inline behavior.  Subsequently setting display
 * to inline does the trick.
 */
*:first-child+html .goog-inline-block {
  display: inline;
}
/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

/*
 * Standard styling for toolbars and toolbar items.
 *
 * @author attila@google.com (Attila Bodis)
 */


/*
 * Styles used by goog.ui.ToolbarRenderer.
 */

.goog-toolbar {
  /* Client apps may override the URL at which they serve the image. */
  background: #fafafa url(//ssl.gstatic.com/editor/toolbar-bg.png) repeat-x bottom left;
  border-bottom: 1px solid #d5d5d5;
  cursor: default;
  font: normal 12px Arial, sans-serif;
  margin: 0;
  outline: none;
  padding: 2px;
  position: relative;
  zoom: 1; /* The toolbar element must have layout on IE. */
}

/*
 * Styles used by goog.ui.ToolbarButtonRenderer.
 */

.goog-toolbar-button {
  margin: 0 2px;
  border: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #333;
  text-decoration: none;
  list-style: none;
  vertical-align: middle;
  cursor: default;
  outline: none;
}

/* Pseudo-rounded corners. */
.goog-toolbar-button-outer-box,
.goog-toolbar-button-inner-box {
  border: 0;
  vertical-align: top;
}

.goog-toolbar-button-outer-box {
  margin: 0;
  padding: 1px 0;
}

.goog-toolbar-button-inner-box {
  margin: 0 -1px;
  padding: 3px 4px;
}

/* Pre-IE7 IE hack; ignored by IE7 and all non-IE browsers. */
* html .goog-toolbar-button-inner-box {
  /* IE6 needs to have the box shifted to make the borders line up. */
  left: -1px;
}

/* Pre-IE7 BiDi fixes. */
* html .goog-toolbar-button-rtl .goog-toolbar-button-outer-box {
  /* @noflip */ left: -1px;
}
* html .goog-toolbar-button-rtl .goog-toolbar-button-inner-box {
  /* @noflip */ right: auto;
}


/* IE7-only hack; ignored by all other browsers. */
*:first-child+html .goog-toolbar-button-inner-box {
  /* IE7 needs to have the box shifted to make the borders line up. */
  left: -1px;
}

/* IE7 BiDi fix. */
*:first-child+html .goog-toolbar-button-rtl .goog-toolbar-button-inner-box {
  /* @noflip */ left: 1px;
  /* @noflip */ right: auto;
}

/* Safari-only hacks. */
::root .goog-toolbar-button,
::root .goog-toolbar-button-outer-box {
  /* Required to make pseudo-rounded corners work on Safari. */
  line-height: 0;
}

::root .goog-toolbar-button-inner-box {
  /* Required to make pseudo-rounded corners work on Safari. */
  line-height: normal;
}

/* Disabled styles. */
.goog-toolbar-button-disabled {
  opacity: 0.3;
  -moz-opacity: 0.3;
  filter: alpha(opacity=30);
}

.goog-toolbar-button-disabled .goog-toolbar-button-outer-box,
.goog-toolbar-button-disabled .goog-toolbar-button-inner-box {
  /* Disabled text/border color trumps everything else. */
  color: #333 !important;
  border-color: #999 !important;
}

/* Pre-IE7 IE hack; ignored by IE7 and all non-IE browsers. */
* html .goog-toolbar-button-disabled {
  /* IE can't apply alpha to an element with a transparent background... */
  background-color: #f0f0f0;
  margin: 0 1px;
  padding: 0 1px;
}

/* IE7-only hack; ignored by all other browsers. */
*:first-child+html .goog-toolbar-button-disabled {
  /* IE can't apply alpha to an element with a transparent background... */
  background-color: #f0f0f0;
  margin: 0 1px;
  padding: 0 1px;
}

/* Only draw borders when in a non-default state. */
.goog-toolbar-button-hover .goog-toolbar-button-outer-box,
.goog-toolbar-button-active .goog-toolbar-button-outer-box,
.goog-toolbar-button-checked .goog-toolbar-button-outer-box,
.goog-toolbar-button-selected .goog-toolbar-button-outer-box {
  border-width: 1px 0;
  border-style: solid;
  padding: 0;
}

.goog-toolbar-button-hover .goog-toolbar-button-inner-box,
.goog-toolbar-button-active .goog-toolbar-button-inner-box,
.goog-toolbar-button-checked .goog-toolbar-button-inner-box,
.goog-toolbar-button-selected .goog-toolbar-button-inner-box {
  border-width: 0 1px;
  border-style: solid;
  padding: 3px;
}

/* Hover styles. */
.goog-toolbar-button-hover .goog-toolbar-button-outer-box,
.goog-toolbar-button-hover .goog-toolbar-button-inner-box {
  /* Hover border style wins over active/checked/selected. */
  border-color: #a1badf !important;
}

/* Active/checked/selected styles. */
.goog-toolbar-button-active,
.goog-toolbar-button-checked,
.goog-toolbar-button-selected {
  /* Active/checked/selected background color always wins. */
  background-color: #dde1eb !important;
}

.goog-toolbar-button-active .goog-toolbar-button-outer-box,
.goog-toolbar-button-active .goog-toolbar-button-inner-box,
.goog-toolbar-button-checked .goog-toolbar-button-outer-box,
.goog-toolbar-button-checked .goog-toolbar-button-inner-box,
.goog-toolbar-button-selected .goog-toolbar-button-outer-box,
.goog-toolbar-button-selected .goog-toolbar-button-inner-box {
  border-color: #729bd1;
}

/* Pill (collapsed border) styles. */
.goog-toolbar-button-collapse-right,
.goog-toolbar-button-collapse-right .goog-toolbar-button-outer-box,
.goog-toolbar-button-collapse-right .goog-toolbar-button-inner-box {
  margin-right: 0;
}

.goog-toolbar-button-collapse-left,
.goog-toolbar-button-collapse-left .goog-toolbar-button-outer-box,
.goog-toolbar-button-collapse-left .goog-toolbar-button-inner-box {
  margin-left: 0;
}

/* Pre-IE7 IE hack; ignored by IE7 and all non-IE browsers. */
* html .goog-toolbar-button-collapse-left .goog-toolbar-button-inner-box {
  left: 0;
}

/* IE7-only hack; ignored by all other browsers. */
*:first-child+html .goog-toolbar-button-collapse-left
.goog-toolbar-button-inner-box {
  left: 0;
}


/*
 * Styles used by goog.ui.ToolbarMenuButtonRenderer.
 */

.goog-toolbar-menu-button {
  margin: 0 2px;
  border: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #333;
  text-decoration: none;
  list-style: none;
  vertical-align: middle;
  cursor: default;
  outline: none;
}

/* Pseudo-rounded corners. */
.goog-toolbar-menu-button-outer-box,
.goog-toolbar-menu-button-inner-box {
  border: 0;
  vertical-align: top;
}

.goog-toolbar-menu-button-outer-box {
  margin: 0;
  padding: 1px 0;
}

.goog-toolbar-menu-button-inner-box {
  margin: 0 -1px;
  padding: 3px 4px;
}

/* Pre-IE7 IE hack; ignored by IE7 and all non-IE browsers. */
* html .goog-toolbar-menu-button-inner-box {
  /* IE6 needs to have the box shifted to make the borders line up. */
  left: -1px;
}

/* Pre-IE7 BiDi fixes. */
* html .goog-toolbar-menu-button-rtl .goog-toolbar-menu-button-outer-box {
  /* @noflip */ left: -1px;
}
* html .goog-toolbar-menu-button-rtl .goog-toolbar-menu-button-inner-box {
  /* @noflip */ right: auto;
}

/* IE7-only hack; ignored by all other browsers. */
*:first-child+html .goog-toolbar-menu-button-inner-box {
  /* IE7 needs to have the box shifted to make the borders line up. */
  left: -1px;
}

/* IE7 BiDi fix. */
*:first-child+html .goog-toolbar-menu-button-rtl
  .goog-toolbar-menu-button-inner-box {
  /* @noflip */ left: 1px;
  /* @noflip */ right: auto;
}

/* Safari-only hacks. */
::root .goog-toolbar-menu-button,
::root .goog-toolbar-menu-button-outer-box,
::root .goog-toolbar-menu-button-inner-box {
  /* Required to make pseudo-rounded corners work on Safari. */
  line-height: 0;
}

::root .goog-toolbar-menu-button-caption,
::root .goog-toolbar-menu-button-dropdown {
  /* Required to make pseudo-rounded corners work on Safari. */
  line-height: normal;
}

/* Disabled styles. */
.goog-toolbar-menu-button-disabled {
  opacity: 0.3;
  -moz-opacity: 0.3;
  filter: alpha(opacity=30);
}

.goog-toolbar-menu-button-disabled .goog-toolbar-menu-button-outer-box,
.goog-toolbar-menu-button-disabled .goog-toolbar-menu-button-inner-box {
  /* Disabled text/border color trumps everything else. */
  color: #333 !important;
  border-color: #999 !important;
}

/* Pre-IE7 IE hack; ignored by IE7 and all non-IE browsers. */
* html .goog-toolbar-menu-button-disabled {
  /* IE can't apply alpha to an element with a transparent background... */
  background-color: #f0f0f0;
  margin: 0 1px;
  padding: 0 1px;
}

/* IE7-only hack; ignored by all other browsers. */
*:first-child+html .goog-toolbar-menu-button-disabled {
  /* IE can't apply alpha to an element with a transparent background... */
  background-color: #f0f0f0;
  margin: 0 1px;
  padding: 0 1px;
}

/* Only draw borders when in a non-default state. */
.goog-toolbar-menu-button-hover .goog-toolbar-menu-button-outer-box,
.goog-toolbar-menu-button-active .goog-toolbar-menu-button-outer-box,
.goog-toolbar-menu-button-open .goog-toolbar-menu-button-outer-box {
  border-width: 1px 0;
  border-style: solid;
  padding: 0;
}

.goog-toolbar-menu-button-hover .goog-toolbar-menu-button-inner-box,
.goog-toolbar-menu-button-active .goog-toolbar-menu-button-inner-box,
.goog-toolbar-menu-button-open .goog-toolbar-menu-button-inner-box {
  border-width: 0 1px;
  border-style: solid;
  padding: 3px;
}

/* Hover styles. */
.goog-toolbar-menu-button-hover .goog-toolbar-menu-button-outer-box,
.goog-toolbar-menu-button-hover .goog-toolbar-menu-button-inner-box {
  /* Hover border color trumps active/open style. */
  border-color: #a1badf !important;
}

/* Active/open styles. */
.goog-toolbar-menu-button-active,
.goog-toolbar-menu-button-open {
  /* Active/open background color wins. */
  background-color: #dde1eb !important;
}

.goog-toolbar-menu-button-active .goog-toolbar-menu-button-outer-box,
.goog-toolbar-menu-button-active .goog-toolbar-menu-button-inner-box,
.goog-toolbar-menu-button-open .goog-toolbar-menu-button-outer-box,
.goog-toolbar-menu-button-open .goog-toolbar-menu-button-inner-box {
  border-color: #729bd1;
}

/* Menu button caption style. */
.goog-toolbar-menu-button-caption {
  padding: 0 4px 0 0;
  vertical-align: middle;
}

/* Dropdown style. */
.goog-toolbar-menu-button-dropdown {
  width: 7px;
  /* Client apps may override the URL at which they serve the sprite. */
  background: url(//ssl.gstatic.com/editor/editortoolbar.png) no-repeat -388px 0;
  vertical-align: middle;
}


/*
 * Styles used by goog.ui.ToolbarSeparatorRenderer.
 */

.goog-toolbar-separator {
  margin: 0 2px;
  border-left: 1px solid #d6d6d6;
  border-right: 1px solid #f7f7f7;
  padding: 0;
  width: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
  vertical-align: middle;
  line-height: normal;
  font-size: 120%;
  overflow: hidden;
}


/*
 * Additional styling for toolbar select controls, which always have borders.
 */

.goog-toolbar-select .goog-toolbar-menu-button-outer-box {
  border-width: 1px 0;
  border-style: solid;
  padding: 0;
}

.goog-toolbar-select .goog-toolbar-menu-button-inner-box {
  border-width: 0 1px;
  border-style: solid;
  padding: 3px;
}

.goog-toolbar-select .goog-toolbar-menu-button-outer-box,
.goog-toolbar-select .goog-toolbar-menu-button-inner-box {
  border-color: #bfcbdf;
}
/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

/*
 * Styling for buttons rendered by goog.ui.ButtonRenderer.
 *
 * @author attila@google.com (Attila Bodis)
 */

.goog-button {
  color: #036;
  border-color: #036;
  background-color: #69c;
}

/* State: disabled. */
.goog-button-disabled {
  border-color: #333;
  color: #333;
  background-color: #999;
}

/* State: hover. */
.goog-button-hover {
  color: #369;
  border-color: #369;
  background-color: #9cf;
}

/* State: active. */
.goog-button-active {
  color: #69c;
  border-color: #69c;
}
/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

/*
 * Styling for custom buttons rendered by goog.ui.CustomButtonRenderer.
 *
 * @author attila@google.com (Attila Bodis)
 */

.goog-custom-button {
  margin: 2px;
  border: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #000;
  /* Client apps may override the URL at which they serve the image. */
  background: #ddd url(//ssl.gstatic.com/editor/button-bg.png) repeat-x top left;
  text-decoration: none;
  list-style: none;
  vertical-align: middle;
  cursor: default;
  outline: none;
}

/* Pseudo-rounded corners. */
.goog-custom-button-outer-box,
.goog-custom-button-inner-box {
  border-style: solid;
  border-color: #aaa;
  vertical-align: top;
}

.goog-custom-button-outer-box {
  margin: 0;
  border-width: 1px 0;
  padding: 0;
}

.goog-custom-button-inner-box {
  /* By default in FF2, block elements inside a moz-inline-box are stacked
   * horizontally next to each other.  This stops that weird behavior. */
  -moz-box-orient: vertical;
  margin: 0 -1px;
  border-width: 0 1px;
  padding: 3px 4px;
  white-space: nowrap; /* Prevents buttons from line breaking on android. */
}

/* Pre-IE7 IE hack; ignored by IE7 and all non-IE browsers. */
* html .goog-custom-button-inner-box {
  /* IE6 needs to have the box shifted to make the borders line up. */
  left: -1px;
}
/* Pre-IE7 BiDi fixes. */
* html .goog-custom-button-rtl .goog-custom-button-outer-box {
  /* @noflip */ left: -1px;
}
* html .goog-custom-button-rtl .goog-custom-button-inner-box {
  /* @noflip */ right: auto;
}

/* IE7-only hack; ignored by all other browsers. */
*:first-child+html .goog-custom-button-inner-box {
  /* IE7 needs to have the box shifted to make the borders line up. */
  left: -1px;
}
/* IE7 BiDi fix. */
*:first-child+html .goog-custom-button-rtl .goog-custom-button-inner-box {
  /* @noflip */ left: 1px;
}

/* Safari-only hacks. */
::root .goog-custom-button,
::root .goog-custom-button-outer-box {
  /* Required to make pseudo-rounded corners work on Safari. */
  line-height: 0;
}

::root .goog-custom-button-inner-box {
  /* Required to make pseudo-rounded corners work on Safari. */
  line-height: normal;
}

/* State: disabled. */
.goog-custom-button-disabled {
  background-image: none !important;
  opacity: 0.3;
  -moz-opacity: 0.3;
  filter: alpha(opacity=30);
}

.goog-custom-button-disabled .goog-custom-button-outer-box,
.goog-custom-button-disabled .goog-custom-button-inner-box {
  color: #333 !important;
  border-color: #999 !important;
}

/* Pre-IE7 IE hack; ignored by IE7 and all non-IE browsers. */
* html .goog-custom-button-disabled {
  margin: 2px 1px !important;
  padding: 0 1px !important;
}

/* IE7-only hack; ignored by all other browsers. */
*:first-child+html .goog-custom-button-disabled {
  margin: 2px 1px !important;
  padding: 0 1px !important;
}

/* State: hover. */
.goog-custom-button-hover .goog-custom-button-outer-box,
.goog-custom-button-hover .goog-custom-button-inner-box {
  border-color: #9cf #69e #69e #7af !important; /* Hover border wins. */
}

/* State: active, checked. */
.goog-custom-button-active,
.goog-custom-button-checked {
  background-color: #bbb;
  background-position: bottom left;
}

/* State: focused. */
.goog-custom-button-focused .goog-custom-button-outer-box,
.goog-custom-button-focused .goog-custom-button-inner-box {
  border-color: orange;
}

/* Pill (collapsed border) styles. */
.goog-custom-button-collapse-right,
.goog-custom-button-collapse-right .goog-custom-button-outer-box,
.goog-custom-button-collapse-right .goog-custom-button-inner-box {
  margin-right: 0;
}

.goog-custom-button-collapse-left,
.goog-custom-button-collapse-left .goog-custom-button-outer-box,
.goog-custom-button-collapse-left .goog-custom-button-inner-box {
  margin-left: 0;
}

.goog-custom-button-collapse-left .goog-custom-button-inner-box  {
  border-left: 1px solid #fff;
}

.goog-custom-button-collapse-left.goog-custom-button-checked
.goog-custom-button-inner-box {
  border-left: 1px solid #ddd;
}

/* Pre-IE7 IE hack; ignored by IE7 and all non-IE browsers. */
* html .goog-custom-button-collapse-left .goog-custom-button-inner-box {
  left: 0;
}

/* IE7-only hack; ignored by all other browsers. */
*:first-child+html .goog-custom-button-collapse-left
.goog-custom-button-inner-box {
  left: 0;
}
/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

/*
 * Styles for goog.ui.AutoComplete and its derivatives.
 * Note: these styles need some work to get them working properly at various
 * font sizes other than the default.
 *
 * @author pupius@google.com (Daniel Pupius)
 * @author annams@google.com (Srinivas Annam)
 */


/*
 * TODO(annams): Rename (here and in renderer.js) to specify class name as
 * goog-autocomplete-renderer
 */
.ac-renderer {
  font: normal 13px Arial, sans-serif;
  position: absolute;
  background: #fff;
  border: 1px solid #666;
  -moz-box-shadow: 2px 2px 2px rgba(102, 102, 102, .4);
  -webkit-box-shadow: 2px 2px 2px rgba(102, 102, 102, .4);
  width: 300px;
}

.ac-row {
  cursor: pointer;
  padding: .4em;
}

.ac-highlighted {
  font-weight: bold;
}

.ac-active {
  background-color: #b2b4bf;
}
/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

/*
 * Standard styling for goog.ui.Dialog.
 *
 * @author ssaviano@google.com (Steven Saviano)
 * @author attila@google.com (Attila Bodis)
 */


.modal-dialog {
  background: #c1d9ff;
  border: 1px solid #3a5774;
  color: #000;
  padding: 4px;
  position: absolute;
}

.modal-dialog a,
.modal-dialog a:link,
.modal-dialog a:visited  {
  color: #06c;
  cursor: pointer;
}

.modal-dialog-bg {
  background: #666;
  left: 0;
  position: absolute;
  top: 0;
}

.modal-dialog-title {
  background: #e0edfe;
  color: #000;
  cursor: pointer;
  font-size: 120%;
  font-weight: bold;

  /* Add padding on the right to ensure the close button has room. */
  padding: 8px 31px 8px 8px;

  position: relative;
  _zoom: 1; /* Ensures proper width in IE6 RTL. */
}

.modal-dialog-title-close {
  /* Client apps may override the URL at which they serve the sprite. */
  background: #e0edfe url(//ssl.gstatic.com/editor/editortoolbar.png) no-repeat -528px 0;
  cursor: default;
  height: 15px;
  position: absolute;
  right: 10px;
  top: 8px;
  width: 15px;
  vertical-align: middle;
}

.modal-dialog-buttons,
.modal-dialog-content {
  background-color: #fff;
  padding: 8px;
}

.goog-buttonset-default {
  font-weight: bold;
}
/*
 * Copyright 2008 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

/* Author: attila@google.com (Attila Bodis) */
/* Author: eae@google.com (Emil A. Eklund) */


/*
 * Styles used by goog.ui.TabRenderer.
 */
.goog-tab {
  position: relative;
  padding: 4px 8px;
  color: #00c;
  text-decoration: underline;
  cursor: default;
}

.goog-tab-bar-top .goog-tab {
  margin: 1px 4px 0 0;
  border-bottom: 0;
  float: left;
}

.goog-tab-bar-top:after,
.goog-tab-bar-bottom:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.goog-tab-bar-bottom .goog-tab {
  margin: 0 4px 1px 0;
  border-top: 0;
  float: left;
}

.goog-tab-bar-start .goog-tab {
  margin: 0 0 4px 1px;
  border-right: 0;
}

.goog-tab-bar-end .goog-tab {
  margin: 0 1px 4px 0;
  border-left: 0;
}

/* State: Hover */
.goog-tab-hover {
  background: #eee;
}

/* State: Disabled */
.goog-tab-disabled {
  color: #666;
}

/* State: Selected */
.goog-tab-selected {
  color: #000;
  background: #fff;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #6b90da;
}

.goog-tab-bar-top {
  padding-top: 5px !important;
  padding-left: 5px !important;
  border-bottom: 1px solid #6b90da !important;
}
/*
 * Shift selected tabs 1px towards the contents (and compensate via margin and
 * padding) to visually merge the borders of the tab with the borders of the
 * content area.
 */
.goog-tab-bar-top .goog-tab-selected {
  top: 1px;
  margin-top: 0;
  padding-bottom: 5px;
}

.goog-tab-bar-bottom .goog-tab-selected {
  top: -1px;
  margin-bottom: 0;
  padding-top: 5px;
}

.goog-tab-bar-start .goog-tab-selected {
  left: 1px;
  margin-left: 0;
  padding-right: 9px;
}

.goog-tab-bar-end .goog-tab-selected {
  left: -1px;
  margin-right: 0;
  padding-left: 9px;
}
/*
 * Copyright 2008 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

/* Author: attila@google.com (Attila Bodis) */
/* Author: eae@google.com (Emil A. Eklund) */


/*
 * Styles used by goog.ui.TabBarRenderer.
 */
.goog-tab-bar {
  margin: 0;
  border: 0;
  padding: 0;
  list-style: none;
  cursor: default;
  outline: none;
  background: #ebeff9;
}

.goog-tab-bar-clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

.goog-tab-bar-start {
  float: left;
}

.goog-tab-bar-end {
  float: right;
}


/*
 * IE6-only hacks to fix the gap between the floated tabs and the content.
 * IE7 and later will ignore these.
 */
/* @if user.agent ie6 */
* html .goog-tab-bar-start {
  margin-right: -3px;
}

* html .goog-tab-bar-end {
  margin-left: -3px;
}
/* @endif */
/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

/*
 * Standard styling for buttons created by goog.ui.ColorMenuButtonRenderer.
 *
 * @author attila@google.com (Attila Bodis)
 */


/* Color indicator. */
.goog-color-menu-button-indicator {
  border-bottom: 4px solid #f0f0f0;
}

/* Thinner padding for color picker buttons, to leave room for the indicator. */
.goog-color-menu-button .goog-menu-button-inner-box,
.goog-toolbar-color-menu-button .goog-toolbar-menu-button-inner-box {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}
/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

/*
 * Standard styling for palettes created by goog.ui.PaletteRenderer.
 *
 * @author pupius@google.com (Daniel Pupius)
 * @author attila@google.com (Attila Bodis)
 */


.goog-palette {
  cursor: default;
  outline: none;
}

.goog-palette-table {
  border: 1px solid #666;
  border-collapse: collapse;
  margin: 5px;
}

.goog-palette-cell {
  border: 0;
  border-right: 1px solid #666;
  cursor: pointer;
  height: 18px;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  width: 18px;
}
/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

/*
 * Standard styling for color palettes.
 *
 * @author pupius@google.com (Daniel Pupius)
 * @author attila@google.com (Attila Bodis)
 */


.goog-palette-cell .goog-palette-colorswatch {
  border: none;
  font-size: x-small;
  height: 18px;
  position: relative;
  width: 18px;
}

.goog-palette-cell-hover .goog-palette-colorswatch {
  border: 1px solid #fff;
  height: 16px;
  width: 16px;
}

.goog-palette-cell-selected .goog-palette-colorswatch {
  /* Client apps may override the URL at which they serve the sprite. */
  background: url(//ssl.gstatic.com/editor/editortoolbar.png) no-repeat -368px 0;
  border: 1px solid #333;
  color: #fff;
  font-weight: bold;
  height: 16px;
  width: 16px;
}

.goog-palette-customcolor {
  background-color: #fafafa;
  border: 1px solid #eee;
  color: #666;
  font-size: x-small;
  height: 15px;
  position: relative;
  width: 15px;
}

.goog-palette-cell-hover .goog-palette-customcolor {
  background-color: #fee;
  border: 1px solid #f66;
  color: #f66;
}
/*
 * Copyright 2005 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

/*
 * Bubble styles.
 *
 * @author robbyw@google.com (Robby Walker)
 * @author nicksantos@google.com (Nick Santos)
 * @author jparent@google.com (Julie Parent)
 */

div.tr_bubble {
  position: absolute;

  background-color: #e0ecff;
  border: 1px solid #99c0ff;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  font-size: 83%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2px 19px 6px 6px;
  white-space: nowrap;
}

.tr_bubble_link {
  color: #00c;
  text-decoration: underline;
  cursor: pointer;
  font-size: 100%;
}

.tr_bubble .tr_option-link,
.tr_bubble #tr_delete-image,
.tr_bubble #tr_module-options-link {
  font-size: 83%;
}

.tr_bubble_closebox {
  position: absolute;
  cursor: default;
  background: url(//ssl.gstatic.com/editor/bubble_closebox.gif) top left no-repeat;
  padding: 0;
  margin: 0;
  width: 10px;
  height: 10px;
  top: 3px;
  right: 5px;
}

div.tr_bubble_panel {
  padding: 2px 0 1px;
}

div.tr_bubble_panel_title {
  display: none;
}

div.tr_multi_bubble div.tr_bubble_panel_title {
  margin-right: 1px;
  display: block;
  float: left;
  width: 50px;
}

div.tr_multi_bubble div.tr_bubble_panel {
  padding: 2px 0 1px;
  margin-right: 50px;
}
/*
 * Copyright 2007 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

/*
 * Styles for Editor dialogs and their sub-components.
 *
 * @author marcosalmeida@google.com (Marcos Almeida)
 */


.tr-dialog {
  width: 475px;
}

.tr-dialog .goog-tab-content {
  margin: 0;
  border: 1px solid #6b90da;
  padding: 4px 8px;
  background: #fff;
  overflow: auto;
}

.tr-tabpane {
  font-size: 10pt;
  padding: 1.3ex 0;
}

.tr-tabpane-caption {
  font-size: 10pt;
  margin-bottom: 0.7ex;
  background-color: #fffaf5;
  line-height: 1.3em;
}

.tr-tabpane .goog-tab-content {
  border: none;
  padding: 5px 7px 1px;
}

.tr-tabpane .goog-tab {
  background-color: #fff;
  border: none;
  width: 136px;
  line-height: 1.3em;
  margin-bottom: 0.7ex;
}

.tr-tabpane .goog-tab {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.tr-tabpane .goog-tab-selected {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.tr-tabpane .goog-tab input {
  margin: -2px 5px 0 0;
}
/*
 * Copyright 2008 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */


/*
 * Editor toolbar styles.
 *
 * @author attila@google.com (Attila Bodis)
 */

/* Common base style for all icons. */
.tr-icon {
  width: 16px;
  height: 16px;
  background: url(//ssl.gstatic.com/editor/editortoolbar.png) no-repeat;
  vertical-align: middle;
}

.goog-color-menu-button-indicator .tr-icon {
  height: 14px;
}

/* Undo (redo when the chrome is right-to-left). */
.tr-undo,
.goog-toolbar-button-rtl .tr-redo {
  background-position: 0;
}

/* Redo (undo when the chrome is right-to-left). */
.tr-redo,
.goog-toolbar-button-rtl .tr-undo {
  background-position: -16px;
}

/* Font name. */
.tr-fontName .goog-toolbar-menu-button-caption {
  color: #246;
  width: 16ex;
  height: 16px;
  overflow: hidden;
}

/* Font size. */
.tr-fontSize .goog-toolbar-menu-button-caption {
  color: #246;
  width: 8ex;
  height: 16px;
  overflow: hidden;
}

/* Bold. */
.tr-bold {
  background-position: -32px;
}

/* Italic. */
.tr-italic {
  background-position: -48px;
}

/* Underline. */
.tr-underline {
  background-position: -64px;
}

/* Foreground color. */
.tr-foreColor {
  height: 14px;
  background-position: -80px;
}

/* Background color. */
.tr-backColor {
  height: 14px;
  background-position: -96px;
}

/* Link. */
.tr-link {
  font-weight: bold;
  color: #009;
  text-decoration: underline;
}

/* Insert image. */
.tr-image {
  background-position: -112px;
}

/* Insert drawing. */
.tr-newDrawing {
  background-position: -592px;
}

/* Insert special character. */
.tr-spChar {
  font-weight: bold;
  color: #900;
}

/* Increase indent. */
.tr-indent {
  background-position: -128px;
}

/* Increase ident in right-to-left text mode, regardless of chrome direction. */
.tr-rtl-mode .tr-indent {
  background-position: -400px;
}

/* Decrease indent. */
.tr-outdent {
  background-position: -144px;
}

/* Decrease indent in right-to-left text mode, regardless of chrome direction. */
.tr-rtl-mode .tr-outdent {
  background-position: -416px;
}

/* Bullet (unordered) list. */
.tr-insertUnorderedList {
  background-position: -160px;
}

/* Bullet list in right-to-left text mode, regardless of chrome direction. */
.tr-rtl-mode .tr-insertUnorderedList {
  background-position: -432px;
}

/* Number (ordered) list. */
.tr-insertOrderedList {
  background-position: -176px;
}

/* Number list in right-to-left text mode, regardless of chrome direction. */
.tr-rtl-mode .tr-insertOrderedList {
  background-position: -448px;
}

/* Text alignment buttons. */
.tr-justifyLeft {
  background-position: -192px;
}
.tr-justifyCenter {
  background-position: -208px;
}
.tr-justifyRight {
  background-position: -224px;
}
.tr-justifyFull {
  background-position: -480px;
}

/* Blockquote. */
.tr-BLOCKQUOTE {
  background-position: -240px;
}

/* Blockquote in right-to-left text mode, regardless of chrome direction. */
.tr-rtl-mode .tr-BLOCKQUOTE {
  background-position: -464px;
}

/* Remove formatting. */
.tr-removeFormat {
  background-position: -256px;
}

/* Spellcheck. */
.tr-spell {
  background-position: -272px;
}

/* Left-to-right text direction. */
.tr-ltr {
  background-position: -288px;
}

/* Right-to-left text direction. */
.tr-rtl {
  background-position: -304px;
}

/* Insert iGoogle module. */
.tr-insertModule {
  background-position: -496px;
}

/* Strike through text */
.tr-strikeThrough {
  background-position: -544px;
}

/* Subscript */
.tr-subscript {
  background-position: -560px;
}

/* Superscript */
.tr-superscript {
  background-position: -576px;
}

/* Insert drawing. */
.tr-equation {
  background-position: -608px;
}

/* Edit HTML. */
.tr-editHtml {
  color: #009;
}

/* "Format block" menu. */
.tr-formatBlock .goog-toolbar-menu-button-caption {
  color: #246;
  width: 12ex;
  height: 16px;
  overflow: hidden;
}
/**
 * Rawscripts - Screenwriting Software
 * Copyright (C) Ritchie Wilson
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

body{padding:0; margin:0;height:100%; overflow:hidden; background-color:#ccc}
html{height:100%; margin:0; padding:0; overflow:hidden;}
img{border:none;}
td{padding:0;}
td a{
	color: black;
	text-decoration:none;
}
.canvas{
	position:absolute;
}
.fade{
	background:#fff; 
	opacity:0.5; 
	height:100%; 
	width:100%; 
	position:fixed;
}
.popup_block{
	background:#7694D8; 
	width:425px; 
	position:relative; 
	margin:auto; 
	top:20%; 
	padding:10px; 
	border:double;
}
.popup{
	font-family:sans-serif;
	font-size:10pt;
}
.close{
	position:absolute;
	top:-15px;
	right:-15px;
}
#loading_span{
	font-family:sans-serif; 
	font-weight:200; 
	font-size:18pt;
}
#container{
	width:100%; 
	height:100%; 
	margin:0; 
	padding:0;
}
#header{
	padding:0px;
	width:100%;
}

#titleBar{
	height:40px;
	background-color:#6484DF;
}
#title{
	font-size:18pt;
	padding:2px;
	margin:3px;
	text-shadow: 1px 1px 1px #999;
	float:left;
	cursor:text;
}
#optionsbar {
	font-family:sans-serif;
	font-size:10pt;
	float:right; 
	margin:5px 10px 0 0;
}
#optionsbar a{
	color:blue;
}
#toolBar{
	font-family:sans-serif;
	font-size:10pt;
	background-color:#A2BAE9; 
	width:100%;
	border-top:1px #000 solid;
	border-bottom:1px #aaa solid;
	padding:0;
}
#menu{
	padding-top:0px;
	background-color:#A2BAE9;
}
.menuItem{
	margin-top:0px;
	padding: 4px 7px 4px 7px;
	cursor:pointer;
}
#saveButton{
	visibility:hidden; 
	margin-right:50px;
}
#gtb{
	visibility:hidden; 
	border-bottom:1px #999 solid;
}
#format{
	margin-top:2px; 
	margin-left:120px;
}
#canvas{
	float:left; 
	cursor:text;
}
#no_canvas{
	background-color:white; 
	width:400px; 
	margin:auto; 
	padding:100px; 
	padding-top:50px;
}
#info{
	visibility:hidden; 
	border-style:ridge;
	border-width:2px;
	border-color:#ccc;
	position:absolute;
	bottom:1px;
	left:1px;
	background-color:#ccc;
	font-family:sans-serif;
	font-size:10pt;
}
#sidebar{
	visibility:hidden; 
	position:absolute; 
	top:65px; 
	right:0; 
	width:320px; 
	float:left; 
	border:2px ridge; 
	overflow:auto; 
	background-color:white;
}
.tab{
	background-color:#6C8CD5;
	padding:2px;
	font-family:sans-serif;
	font-size:11pt;
	border:2px #3F5EA6 solid;
	cursor:pointer;
	width:50%;
}
#scenes{
	margin-top:4px;
}
#sceneBox{
	position:absolute; 
	right:0; 
	left:0; 
	top: 35px; 
	bottom:0px; 
	overflow:auto;
}
.sceneItem{
	font-family:Courier; 
	font-size:10pt;
	margin: 0px 0px 0px 10px; 
	cursor:pointer;
}
#noteBox{
	position:absolute; 
	right:0; 
	left:0; 
	top: 30px; 
	bottom:0px; 
	overflow:auto;
}
.noteListUnit{
	background-color:Khaki;
	padding:4px;
	margin:5px;
	font-size:10pt;
	cursor:pointer;
	border:1px #666 solid;
}
.fullscreen_popup{
	width:100%; 
	height:100%; 
	top:0; 
	left:0;
	position:absolute;
	visibility: hidden;
}
#loading{
	visibility:visible;
}
.textbox{  
	font-size:10pt;  
	background-color:white; 
	border-style:inset; 
	border-width:2px;
	font-family:Verdana, Geneva, sans-serif;
	width:400px;
}
#message{
	height:110px;
	overflow:auto;
}
#sc_popup_block{
	width: 540px;
	height:220px;
}
#sSentance{
	width:235px; 
	height:140px; 
	overflow:auto; 
	float:left
}
#sSuggest{
	width:140px; 
	height:140px; 
	background-color:white; 
	float:left; 
	border:2px inset; 
	margin-left:10px;
    overflow: auto;
}
#sFocus {
    color: red;
}
#spellControls{
	float:left; 
	margin-left:10px;
}
#sIgnore{
	width:100px;
}
#sIgnoreAll{
	width:100px;
}
#sChange{
	width:100px;
}
#newScript{
	width:350px;
}
#renameField{
	width:350px;
}
.spellcheckitem{
    font-family:Verdana, Geneva, sans-serif;
    font-size:10pt;
    cursor:pointer;
}
.spellcheckitem.disabled {
    color: #888;
}
#spellcheckfocus{
    background-color:lightBlue;
}
.exportList{
	margin-left:5px; 
	margin-right:10px;
}
#share_message{
	width:400px; 
	height:80px; 
	overflow:auto; 
	display:none;
}
#saveError{
	position:fixed; 
	top:0px; 
	display:none;
}

#context_menu{
	background-color:white;
	border-right:1px #666 solid;
	border-bottom:1px #666 solid;
	border-top:1px #aaa solid;
	border-left:1px #aaa solid;
}
.contextUnit{
	font-family:sans-serif;
	font-size:10pt;
	padding:3px 20px 3px 15px;
	cursor:pointer;
}
.contextUnit:hover{
	background-color:LightSkyBlue
}

#find_div{
	position:fixed; 
	top:96px; 
	right:350px;
	padding:2px;
	background-color:#f0f0f0;
	border:1px #999 solid;
	border-top:none;
	width:300px;
	display:none;
}
#find_replace_div{
	position:fixed; 
	top:96px; 
	right:350px;
	padding:2px;
	background-color:#f0f0f0;
	border:1px #999 solid;
	border-top:none;
	width:320px;
	display:none;
	font-family:sans-serif;
	font-size:10pt;
}
#find_input{
	float:left;
}
#down_find_button, #up_find_button{
	float:left;
	width:16px;
	height:16px;
}
#find_number_found{
	margin-top:3px;
	font-family:sans-serif;
	color:#666;
	font-size:10pt;
	float:right;
}

.noteMessage{
	background-color:lightYellow;
	font-family:sans-serif;
	font-size:10pt;
	padding:3px;
	margin:3px;
	border:1px #aaa solid;
}
.noteMessageUnread{
	background-color:Salmon;
	font-family:sans-serif;
	font-size:10pt;
	padding:3px;
	margin:3px;
	border:1px #aaa solid;
	cursor:pointer;
}
.modal-dialog{
	width:475px;
}
.modal-dialog-content{
	overflow:auto;
	max-height:500px;
}
.messageEditBox{
	width:100%;
	height:200px;
	border: 1px Grey solid;
}
.noteControls{
	color:#06c;
	cursor:pointer;
}