/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

/*
 * Standard styling for menus created by goog.ui.MenuRenderer.
 *
 * @author attila@google.com (Attila Bodis)
 */


.goog-menu {
  background: #fff;
  border-color: #ccc #666 #666 #ccc;
  border-style: solid;
  border-width: 1px;
  cursor: default;
  font: normal 13px Arial, sans-serif;
  margin: 0;
  outline: none;
  padding: 4px 0;
  position: absolute;
  z-index: 20000; /* Arbitrary, but some apps depend on it... */
}
/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

/*
 * Standard styling for menus created by goog.ui.MenuItemRenderer.
 *
 * @author attila@google.com (Attila Bodis)
 */


/* State: resting. */
.goog-menuitem {
  color: #000;
  font: normal 13px Arial, sans-serif;
  list-style: none;
  margin: 0;
  /* 28px on the left for icon or checkbox; 7em on the right for shortcut. */
  padding: 4px 7em 4px 28px;
  white-space: nowrap;
}

/* If a menu doesn't have checkable items or items with icons, remove padding. */
.goog-menu-nocheckbox .goog-menuitem,
.goog-menu-noicon .goog-menuitem {
  padding-left: 12px;
}

/*
 * If a menu doesn't have items with shortcuts, leave just enough room for
 * submenu arrows, if they are rendered.
 */
.goog-menu-noaccel .goog-menuitem {
  padding-right: 20px;
}

.goog-menuitem-content {
  color: #000;
  font: normal 13px Arial, sans-serif;
}

/* State: disabled. */
.goog-menuitem-disabled .goog-menuitem-accel,
.goog-menuitem-disabled .goog-menuitem-content {
  color: #ccc !important;
}
.goog-menuitem-disabled .goog-menuitem-icon {
  opacity: 0.3;
  -moz-opacity: 0.3;
  filter: alpha(opacity=30);
}

/* State: hover. */
.goog-menuitem-highlight,
.goog-menuitem-hover {
  background-color: #d6e9f8;
  /* Use an explicit top and bottom border so that the selection is visible
   * in high contrast mode. */
  border-color: #d6e9f8;
  border-style: dotted;
  border-width: 1px 0;
  padding-bottom: 3px;
  padding-top: 3px;
}

/* State: selected/checked. */
.goog-menuitem-checkbox,
.goog-menuitem-icon {
  background-repeat: no-repeat;
  height: 16px;
  left: 6px;
  position: absolute;
  right: auto;
  vertical-align: middle;
  width: 16px;
}
.goog-option-selected .goog-menuitem-checkbox,
.goog-option-selected .goog-menuitem-icon {
  /* Client apps may override the URL at which they serve the sprite. */
  background: url(//ssl.gstatic.com/editor/editortoolbar.png) no-repeat -512px 0;
}

/* Keyboard shortcut ("accelerator") style. */
.goog-menuitem-accel {
  color: #999;
  /* Keyboard shortcuts are untranslated; always left-to-right. */
  /* @noflip */ direction: ltr;
  left: auto;
  padding: 0 6px;
  position: absolute;
  right: 0;
  text-align: right;
}

/* Mnemonic styles. */
.goog-menuitem-mnemonic-hint {
  text-decoration: underline;
}

.goog-menuitem-mnemonic-separator {
  color: #999;
  font-size: 12px;
  padding-left: 4px;
}
/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

/*
 * Standard styling for menus created by goog.ui.MenuSeparatorRenderer.
 *
 * @author attila@google.com (Attila Bodis)
 */


.goog-menuseparator {
  border-top: 1px solid #ccc;
  margin: 4px 0;
  padding: 0;
}
/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

/*
 * Cross-browser implementation of the "display: inline-block" CSS property.
 * See http://www.w3.org/TR/CSS21/visuren.html#propdef-display for details.
 * Tested on IE 6 & 7, FF 1.5 & 2.0, Safari 2 & 3, Webkit, and Opera 9.
 *
 * @author attila@google.com (Attila Bodis)
 */

/*
 * Default rule; only Safari, Webkit, and Opera handle it without hacks.
 */
.goog-inline-block {
  position: relative;
  display: -moz-inline-box; /* Ignored by FF3 and later. */
  display: inline-block;
}

/*
 * Pre-IE7 IE hack.  On IE, "display: inline-block" only gives the element
 * layout, but doesn't give it inline behavior.  Subsequently setting display
 * to inline does the trick.
 */
* html .goog-inline-block {
  display: inline;
}

/*
 * IE7-only hack.  On IE, "display: inline-block" only gives the element
 * layout, but doesn't give it inline behavior.  Subsequently setting display
 * to inline does the trick.
 */
*:first-child+html .goog-inline-block {
  display: inline;
}
/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

/*
 * Standard styling for toolbars and toolbar items.
 *
 * @author attila@google.com (Attila Bodis)
 */


/*
 * Styles used by goog.ui.ToolbarRenderer.
 */

.goog-toolbar {
  /* Client apps may override the URL at which they serve the image. */
  background: #fafafa url(//ssl.gstatic.com/editor/toolbar-bg.png) repeat-x bottom left;
  border-bottom: 1px solid #d5d5d5;
  cursor: default;
  font: normal 12px Arial, sans-serif;
  margin: 0;
  outline: none;
  padding: 2px;
  position: relative;
  zoom: 1; /* The toolbar element must have layout on IE. */
}

/*
 * Styles used by goog.ui.ToolbarButtonRenderer.
 */

.goog-toolbar-button {
  margin: 0 2px;
  border: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #333;
  text-decoration: none;
  list-style: none;
  vertical-align: middle;
  cursor: default;
  outline: none;
}

/* Pseudo-rounded corners. */
.goog-toolbar-button-outer-box,
.goog-toolbar-button-inner-box {
  border: 0;
  vertical-align: top;
}

.goog-toolbar-button-outer-box {
  margin: 0;
  padding: 1px 0;
}

.goog-toolbar-button-inner-box {
  margin: 0 -1px;
  padding: 3px 4px;
}

/* Pre-IE7 IE hack; ignored by IE7 and all non-IE browsers. */
* html .goog-toolbar-button-inner-box {
  /* IE6 needs to have the box shifted to make the borders line up. */
  left: -1px;
}

/* Pre-IE7 BiDi fixes. */
* html .goog-toolbar-button-rtl .goog-toolbar-button-outer-box {
  /* @noflip */ left: -1px;
}
* html .goog-toolbar-button-rtl .goog-toolbar-button-inner-box {
  /* @noflip */ right: auto;
}


/* IE7-only hack; ignored by all other browsers. */
*:first-child+html .goog-toolbar-button-inner-box {
  /* IE7 needs to have the box shifted to make the borders line up. */
  left: -1px;
}

/* IE7 BiDi fix. */
*:first-child+html .goog-toolbar-button-rtl .goog-toolbar-button-inner-box {
  /* @noflip */ left: 1px;
  /* @noflip */ right: auto;
}

/* Safari-only hacks. */
::root .goog-toolbar-button,
::root .goog-toolbar-button-outer-box {
  /* Required to make pseudo-rounded corners work on Safari. */
  line-height: 0;
}

::root .goog-toolbar-button-inner-box {
  /* Required to make pseudo-rounded corners work on Safari. */
  line-height: normal;
}

/* Disabled styles. */
.goog-toolbar-button-disabled {
  opacity: 0.3;
  -moz-opacity: 0.3;
  filter: alpha(opacity=30);
}

.goog-toolbar-button-disabled .goog-toolbar-button-outer-box,
.goog-toolbar-button-disabled .goog-toolbar-button-inner-box {
  /* Disabled text/border color trumps everything else. */
  color: #333 !important;
  border-color: #999 !important;
}

/* Pre-IE7 IE hack; ignored by IE7 and all non-IE browsers. */
* html .goog-toolbar-button-disabled {
  /* IE can't apply alpha to an element with a transparent background... */
  background-color: #f0f0f0;
  margin: 0 1px;
  padding: 0 1px;
}

/* IE7-only hack; ignored by all other browsers. */
*:first-child+html .goog-toolbar-button-disabled {
  /* IE can't apply alpha to an element with a transparent background... */
  background-color: #f0f0f0;
  margin: 0 1px;
  padding: 0 1px;
}

/* Only draw borders when in a non-default state. */
.goog-toolbar-button-hover .goog-toolbar-button-outer-box,
.goog-toolbar-button-active .goog-toolbar-button-outer-box,
.goog-toolbar-button-checked .goog-toolbar-button-outer-box,
.goog-toolbar-button-selected .goog-toolbar-button-outer-box {
  border-width: 1px 0;
  border-style: solid;
  padding: 0;
}

.goog-toolbar-button-hover .goog-toolbar-button-inner-box,
.goog-toolbar-button-active .goog-toolbar-button-inner-box,
.goog-toolbar-button-checked .goog-toolbar-button-inner-box,
.goog-toolbar-button-selected .goog-toolbar-button-inner-box {
  border-width: 0 1px;
  border-style: solid;
  padding: 3px;
}

/* Hover styles. */
.goog-toolbar-button-hover .goog-toolbar-button-outer-box,
.goog-toolbar-button-hover .goog-toolbar-button-inner-box {
  /* Hover border style wins over active/checked/selected. */
  border-color: #a1badf !important;
}

/* Active/checked/selected styles. */
.goog-toolbar-button-active,
.goog-toolbar-button-checked,
.goog-toolbar-button-selected {
  /* Active/checked/selected background color always wins. */
  background-color: #dde1eb !important;
}

.goog-toolbar-button-active .goog-toolbar-button-outer-box,
.goog-toolbar-button-active .goog-toolbar-button-inner-box,
.goog-toolbar-button-checked .goog-toolbar-button-outer-box,
.goog-toolbar-button-checked .goog-toolbar-button-inner-box,
.goog-toolbar-button-selected .goog-toolbar-button-outer-box,
.goog-toolbar-button-selected .goog-toolbar-button-inner-box {
  border-color: #729bd1;
}

/* Pill (collapsed border) styles. */
.goog-toolbar-button-collapse-right,
.goog-toolbar-button-collapse-right .goog-toolbar-button-outer-box,
.goog-toolbar-button-collapse-right .goog-toolbar-button-inner-box {
  margin-right: 0;
}

.goog-toolbar-button-collapse-left,
.goog-toolbar-button-collapse-left .goog-toolbar-button-outer-box,
.goog-toolbar-button-collapse-left .goog-toolbar-button-inner-box {
  margin-left: 0;
}

/* Pre-IE7 IE hack; ignored by IE7 and all non-IE browsers. */
* html .goog-toolbar-button-collapse-left .goog-toolbar-button-inner-box {
  left: 0;
}

/* IE7-only hack; ignored by all other browsers. */
*:first-child+html .goog-toolbar-button-collapse-left
.goog-toolbar-button-inner-box {
  left: 0;
}


/*
 * Styles used by goog.ui.ToolbarMenuButtonRenderer.
 */

.goog-toolbar-menu-button {
  margin: 0 2px;
  border: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #333;
  text-decoration: none;
  list-style: none;
  vertical-align: middle;
  cursor: default;
  outline: none;
}

/* Pseudo-rounded corners. */
.goog-toolbar-menu-button-outer-box,
.goog-toolbar-menu-button-inner-box {
  border: 0;
  vertical-align: top;
}

.goog-toolbar-menu-button-outer-box {
  margin: 0;
  padding: 1px 0;
}

.goog-toolbar-menu-button-inner-box {
  margin: 0 -1px;
  padding: 3px 4px;
}

/* Pre-IE7 IE hack; ignored by IE7 and all non-IE browsers. */
* html .goog-toolbar-menu-button-inner-box {
  /* IE6 needs to have the box shifted to make the borders line up. */
  left: -1px;
}

/* Pre-IE7 BiDi fixes. */
* html .goog-toolbar-menu-button-rtl .goog-toolbar-menu-button-outer-box {
  /* @noflip */ left: -1px;
}
* html .goog-toolbar-menu-button-rtl .goog-toolbar-menu-button-inner-box {
  /* @noflip */ right: auto;
}

/* IE7-only hack; ignored by all other browsers. */
*:first-child+html .goog-toolbar-menu-button-inner-box {
  /* IE7 needs to have the box shifted to make the borders line up. */
  left: -1px;
}

/* IE7 BiDi fix. */
*:first-child+html .goog-toolbar-menu-button-rtl
  .goog-toolbar-menu-button-inner-box {
  /* @noflip */ left: 1px;
  /* @noflip */ right: auto;
}

/* Safari-only hacks. */
::root .goog-toolbar-menu-button,
::root .goog-toolbar-menu-button-outer-box,
::root .goog-toolbar-menu-button-inner-box {
  /* Required to make pseudo-rounded corners work on Safari. */
  line-height: 0;
}

::root .goog-toolbar-menu-button-caption,
::root .goog-toolbar-menu-button-dropdown {
  /* Required to make pseudo-rounded corners work on Safari. */
  line-height: normal;
}

/* Disabled styles. */
.goog-toolbar-menu-button-disabled {
  opacity: 0.3;
  -moz-opacity: 0.3;
  filter: alpha(opacity=30);
}

.goog-toolbar-menu-button-disabled .goog-toolbar-menu-button-outer-box,
.goog-toolbar-menu-button-disabled .goog-toolbar-menu-button-inner-box {
  /* Disabled text/border color trumps everything else. */
  color: #333 !important;
  border-color: #999 !important;
}

/* Pre-IE7 IE hack; ignored by IE7 and all non-IE browsers. */
* html .goog-toolbar-menu-button-disabled {
  /* IE can't apply alpha to an element with a transparent background... */
  background-color: #f0f0f0;
  margin: 0 1px;
  padding: 0 1px;
}

/* IE7-only hack; ignored by all other browsers. */
*:first-child+html .goog-toolbar-menu-button-disabled {
  /* IE can't apply alpha to an element with a transparent background... */
  background-color: #f0f0f0;
  margin: 0 1px;
  padding: 0 1px;
}

/* Only draw borders when in a non-default state. */
.goog-toolbar-menu-button-hover .goog-toolbar-menu-button-outer-box,
.goog-toolbar-menu-button-active .goog-toolbar-menu-button-outer-box,
.goog-toolbar-menu-button-open .goog-toolbar-menu-button-outer-box {
  border-width: 1px 0;
  border-style: solid;
  padding: 0;
}

.goog-toolbar-menu-button-hover .goog-toolbar-menu-button-inner-box,
.goog-toolbar-menu-button-active .goog-toolbar-menu-button-inner-box,
.goog-toolbar-menu-button-open .goog-toolbar-menu-button-inner-box {
  border-width: 0 1px;
  border-style: solid;
  padding: 3px;
}

/* Hover styles. */
.goog-toolbar-menu-button-hover .goog-toolbar-menu-button-outer-box,
.goog-toolbar-menu-button-hover .goog-toolbar-menu-button-inner-box {
  /* Hover border color trumps active/open style. */
  border-color: #a1badf !important;
}

/* Active/open styles. */
.goog-toolbar-menu-button-active,
.goog-toolbar-menu-button-open {
  /* Active/open background color wins. */
  background-color: #dde1eb !important;
}

.goog-toolbar-menu-button-active .goog-toolbar-menu-button-outer-box,
.goog-toolbar-menu-button-active .goog-toolbar-menu-button-inner-box,
.goog-toolbar-menu-button-open .goog-toolbar-menu-button-outer-box,
.goog-toolbar-menu-button-open .goog-toolbar-menu-button-inner-box {
  border-color: #729bd1;
}

/* Menu button caption style. */
.goog-toolbar-menu-button-caption {
  padding: 0 4px 0 0;
  vertical-align: middle;
}

/* Dropdown style. */
.goog-toolbar-menu-button-dropdown {
  width: 7px;
  /* Client apps may override the URL at which they serve the sprite. */
  background: url(//ssl.gstatic.com/editor/editortoolbar.png) no-repeat -388px 0;
  vertical-align: middle;
}


/*
 * Styles used by goog.ui.ToolbarSeparatorRenderer.
 */

.goog-toolbar-separator {
  margin: 0 2px;
  border-left: 1px solid #d6d6d6;
  border-right: 1px solid #f7f7f7;
  padding: 0;
  width: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
  vertical-align: middle;
  line-height: normal;
  font-size: 120%;
  overflow: hidden;
}


/*
 * Additional styling for toolbar select controls, which always have borders.
 */

.goog-toolbar-select .goog-toolbar-menu-button-outer-box {
  border-width: 1px 0;
  border-style: solid;
  padding: 0;
}

.goog-toolbar-select .goog-toolbar-menu-button-inner-box {
  border-width: 0 1px;
  border-style: solid;
  padding: 3px;
}

.goog-toolbar-select .goog-toolbar-menu-button-outer-box,
.goog-toolbar-select .goog-toolbar-menu-button-inner-box {
  border-color: #bfcbdf;
}
/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

/*
 * Styling for buttons rendered by goog.ui.ButtonRenderer.
 *
 * @author attila@google.com (Attila Bodis)
 */

.goog-button {
  color: #036;
  border-color: #036;
  background-color: #69c;
}

/* State: disabled. */
.goog-button-disabled {
  border-color: #333;
  color: #333;
  background-color: #999;
}

/* State: hover. */
.goog-button-hover {
  color: #369;
  border-color: #369;
  background-color: #9cf;
}

/* State: active. */
.goog-button-active {
  color: #69c;
  border-color: #69c;
}
/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

/*
 * Styling for custom buttons rendered by goog.ui.CustomButtonRenderer.
 *
 * @author attila@google.com (Attila Bodis)
 */

.goog-custom-button {
  margin: 2px;
  border: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #000;
  /* Client apps may override the URL at which they serve the image. */
  background: #ddd url(//ssl.gstatic.com/editor/button-bg.png) repeat-x top left;
  text-decoration: none;
  list-style: none;
  vertical-align: middle;
  cursor: default;
  outline: none;
}

/* Pseudo-rounded corners. */
.goog-custom-button-outer-box,
.goog-custom-button-inner-box {
  border-style: solid;
  border-color: #aaa;
  vertical-align: top;
}

.goog-custom-button-outer-box {
  margin: 0;
  border-width: 1px 0;
  padding: 0;
}

.goog-custom-button-inner-box {
  /* By default in FF2, block elements inside a moz-inline-box are stacked
   * horizontally next to each other.  This stops that weird behavior. */
  -moz-box-orient: vertical;
  margin: 0 -1px;
  border-width: 0 1px;
  padding: 3px 4px;
  white-space: nowrap; /* Prevents buttons from line breaking on android. */
}

/* Pre-IE7 IE hack; ignored by IE7 and all non-IE browsers. */
* html .goog-custom-button-inner-box {
  /* IE6 needs to have the box shifted to make the borders line up. */
  left: -1px;
}
/* Pre-IE7 BiDi fixes. */
* html .goog-custom-button-rtl .goog-custom-button-outer-box {
  /* @noflip */ left: -1px;
}
* html .goog-custom-button-rtl .goog-custom-button-inner-box {
  /* @noflip */ right: auto;
}

/* IE7-only hack; ignored by all other browsers. */
*:first-child+html .goog-custom-button-inner-box {
  /* IE7 needs to have the box shifted to make the borders line up. */
  left: -1px;
}
/* IE7 BiDi fix. */
*:first-child+html .goog-custom-button-rtl .goog-custom-button-inner-box {
  /* @noflip */ left: 1px;
}

/* Safari-only hacks. */
::root .goog-custom-button,
::root .goog-custom-button-outer-box {
  /* Required to make pseudo-rounded corners work on Safari. */
  line-height: 0;
}

::root .goog-custom-button-inner-box {
  /* Required to make pseudo-rounded corners work on Safari. */
  line-height: normal;
}

/* State: disabled. */
.goog-custom-button-disabled {
  background-image: none !important;
  opacity: 0.3;
  -moz-opacity: 0.3;
  filter: alpha(opacity=30);
}

.goog-custom-button-disabled .goog-custom-button-outer-box,
.goog-custom-button-disabled .goog-custom-button-inner-box {
  color: #333 !important;
  border-color: #999 !important;
}

/* Pre-IE7 IE hack; ignored by IE7 and all non-IE browsers. */
* html .goog-custom-button-disabled {
  margin: 2px 1px !important;
  padding: 0 1px !important;
}

/* IE7-only hack; ignored by all other browsers. */
*:first-child+html .goog-custom-button-disabled {
  margin: 2px 1px !important;
  padding: 0 1px !important;
}

/* State: hover. */
.goog-custom-button-hover .goog-custom-button-outer-box,
.goog-custom-button-hover .goog-custom-button-inner-box {
  border-color: #9cf #69e #69e #7af !important; /* Hover border wins. */
}

/* State: active, checked. */
.goog-custom-button-active,
.goog-custom-button-checked {
  background-color: #bbb;
  background-position: bottom left;
}

/* State: focused. */
.goog-custom-button-focused .goog-custom-button-outer-box,
.goog-custom-button-focused .goog-custom-button-inner-box {
  border-color: orange;
}

/* Pill (collapsed border) styles. */
.goog-custom-button-collapse-right,
.goog-custom-button-collapse-right .goog-custom-button-outer-box,
.goog-custom-button-collapse-right .goog-custom-button-inner-box {
  margin-right: 0;
}

.goog-custom-button-collapse-left,
.goog-custom-button-collapse-left .goog-custom-button-outer-box,
.goog-custom-button-collapse-left .goog-custom-button-inner-box {
  margin-left: 0;
}

.goog-custom-button-collapse-left .goog-custom-button-inner-box  {
  border-left: 1px solid #fff;
}

.goog-custom-button-collapse-left.goog-custom-button-checked
.goog-custom-button-inner-box {
  border-left: 1px solid #ddd;
}

/* Pre-IE7 IE hack; ignored by IE7 and all non-IE browsers. */
* html .goog-custom-button-collapse-left .goog-custom-button-inner-box {
  left: 0;
}

/* IE7-only hack; ignored by all other browsers. */
*:first-child+html .goog-custom-button-collapse-left
.goog-custom-button-inner-box {
  left: 0;
}
/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

/*
 * Styles for goog.ui.AutoComplete and its derivatives.
 * Note: these styles need some work to get them working properly at various
 * font sizes other than the default.
 *
 * @author pupius@google.com (Daniel Pupius)
 * @author annams@google.com (Srinivas Annam)
 */


/*
 * TODO(annams): Rename (here and in renderer.js) to specify class name as
 * goog-autocomplete-renderer
 */
.ac-renderer {
  font: normal 13px Arial, sans-serif;
  position: absolute;
  background: #fff;
  border: 1px solid #666;
  -moz-box-shadow: 2px 2px 2px rgba(102, 102, 102, .4);
  -webkit-box-shadow: 2px 2px 2px rgba(102, 102, 102, .4);
  width: 300px;
}

.ac-row {
  cursor: pointer;
  padding: .4em;
}

.ac-highlighted {
  font-weight: bold;
}

.ac-active {
  background-color: #b2b4bf;
}
/**
 * Rawscripts - Screenwriting Software
 * Copyright (C) Ritchie Wilson
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

@charset "UTF-8";
/* CSS Document */
img { border:none; }
tr {border:1px #999999 solid; width:90%}
td {border:none}
body{
	margin:0; 
	padding:0;
	font-family:sans-serif;
	font-size:10pt;
}
#header{
	position:fixed;
	top:0;
	left:0;
	right:0;
	height:100pt;
}
#header a{
	color:blue;
	text-decoration:underline;
}
#logo { 
	float: left; 
	/*background: url(../images/bluebg.png) repeat-x; */
	padding: 20px 25px 0px; 
	margin: 0px 20px 10px; 
	-webkit-box-shadow:0px 3px 6px #666;
	-moz-box-shadow:0px 3px 6px #666;
	box-shadow:0px 3px 6px #666;
	background-color:#36c;
}
#logo h1{
	text-shadow: 1px 1px 1px #003399; 
	font-family:Courier; 
	color: #fff; 
	font-size: 2.2em; 
	text-decoration:none;
	font-weight:normal;
}
#header_nav{
	float:right; 
	margin:5px 10px 0 0;
}
#option_bar{
	width:100%; 
	clear:both; 
	background-color:#6490E6; 
	padding:3px 0; 
	position:absolute; 
	bottom:0; 
	border-top:2px #ccc solid; 
	border-bottom:2px #ccc solid;
}
#static_buttons{
	float:left;
}
#owned_script_buttons{
	float:left; 
	display:block;
	margin-left:55px;
}
#move_to_trash{
	margin-left:55px; 
	margin-right:15px;
}
#shared_script_buttons{
	float:left; 
	margin-left:55px;
}
#trash_script_buttons{
	float:left; 
	margin-left:55px;
}
#refresh{
	float:right;
	font-size:12pt;
	margin-right:10px;
    cursor: pointer;
}


/*Standard and User Defined Fodlers (left hand column)*/
#folders{
	position:absolute;
	left:0px;
	top:135px;
	width:50%;
}
.tab{
	cursor:pointer;
	padding:2px 0 2px 15px;
	margin-top:0px;
	width:100%;
}
.tab:hover {
    background-color: #ccf;
}
.tab.current, .tab.current:hover {
	background-color:#2352AE;
    color:white;
	font-weight:bold;
}
#new_folder_div{
	width:160px;
	background-color:#ccc;
	margin-top:15px;
	margin-bottom:5px;
}
#new_folder{
	margin-left:40px;
}

/* Main Section of the screen, script lists*/

#scriptlists{
	background-color:#6490E6; 
	position:absolute; 
	right:0; 
	left:160px; 
	bottom:0; 
	top:100pt;
}

.content_plus_header{
	right:0px; 
	border:2px #ccc solid; 
	border-top:none; 
	left:5pt; 
	top:0px; 
	bottom:0; 
	position:absolute;
	background-color:white;
}

.contentsHeader{
	border-bottom:2px #999999 solid; 
	background-color:#ddd;
	height:25px;
}

.folderContents{
	position:absolute;
	top:27px;
	bottom:0;
	right:0;
	left:0;
	overflow:auto; 
}
.none_of_type{
	color:#666; 
	background-color:white; 
	padding-top:17px; 
	width:300px;
	margin:auto;
}
#noentries{
	position:relative;
}
#noentries a {
	color:blue;
	text-decoration:underline;
}

/*A bunch of css describing the look of each script entry*/
.entry{
	display:block;
	border-bottom:1px #999999 solid;
	background-color:#f9f9fc;
}
.entry.processing{
	background-color:#ccc;
    opacity: 0.5;
}
.checkboxCell{
	width:15px;
}
.folderCell{
	width:120px;
}
.sharedCell{
	width:120px;
}
.emailCell{
	width:120px;
}
.emailLink{
	right:10px;
}
.updatedCell{
	width:160px;
}
.redAlertSpan{
	color:red;
	font-size:small;
	vertical-align:super;
}
a{
	text-decoration:none;
	color:#000;
}
.folderSpan{
	background-color:#0b0;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	padding:2px 4px 2px 4px;
}

/*Popup windows*/
.popup_screen{
	visibility:hidden; 
	position:absolute; 
	width:100%; 
	height:100%; 
	top:0; 
	left:0; 
}
.popup_background{
	background:#fff; 
	opacity:0.5; 
	height:100%; 
	width:100%; 
	position:fixed
}
.popup_block{
	background:#87A7E6; 
	width:450px; 
	position:relative; 
	margin:auto; 
	top:15%; 
	padding:10px; 
	border:double;
}
.close_popup{
	position:absolute;
	top:-15px;
	right:-15px;
}
.text_input{  
  font-size:10pt;  
  background-color:white; 
  border-style:inset; 
  border-width:2px;
  font-family:Verdana, Geneva, sans-serif;
  width:400px;
}

#email_message{
	width:400px; height:110px; overflow:auto;
}

.alert {
    padding: 15px;
    border: 2px solid transparent;
    border-radius: 4px;

    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    font-size: 12pt;
    text-align: center;
}

#verify-email-body-text {
    padding: 10px;
    font-size: 12pt;
}

.actionable-span {
    cursor: pointer;
}