{% extends 'base.html' %}
{% block title %}Blog{% endblock %}

{% block content %}
<div id="rss" style="float:right">
  <a href="http://feeds.feedburner.com/Rawscripts"><img src="/static/images/feed.png" alt="Subscribe RSS from Feedburner"> Subscribe</a>
</div>
{% if posts == None %}
  <div id="pitch">
    <h1>Error:</h1>
    <p>Sorry, that blog post could not be found.</p>
    <p>Go
      to <a href="http://www.rawscripts.com/blog">www.rawscripts.com/blog</a>
      to see if you can find what you're looking for.</p>
  </div>
{% else %}
  <div id="blog">
	<div class="feed">
	  <ul>
	    {% for i in posts %}
	      <li>
	        <span class="headline"><a href="{{  i.link  }}">{{  i.title  }}</a></span>
			<p class="date">{{ i.date }}</p>
			<div class="data">{% autoescape off %}{{i.data}}{% endautoescape %}</div>
	      </li>
	    {% endfor %}
	  </ul>
	</div>
  </div>
{% endif %}
{% endblock %}
