<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>RawScripts - Scriptlist</title>
		<link rel="shortcut icon" href="/favicon.ico">
		{% if MODE == 'DEV' %}
			<script src="/static/closure-library/closure/goog/base.js"></script>
			{% for file in SCRIPTLIST_JS %}
			<script src="/static/js/restricted/scriptlist/{{ file }}.js"></script>
			{% endfor %}
		{% else %}
			<script src="/static/js/min/scriptlist-compiled.js"></script>
		{% endif %}
		
		{% if MODE == 'DEV' %}
			<link rel="stylesheet" href="/static/css/scriptlist.css" type="text/css">
			{% for file in SCRIPTLIST_CSS %}
			<link rel="stylesheet" href="/static/closure-library/closure/goog/css/{{ file }}.css" />
			{% endfor %}
		{% else %}
			<link rel="stylesheet" href="/static/css/min/scriptlist-all.css" />
		{% endif %}
	</head>

	<body onload="init()">
	{% include "analytics.html" %}
	<div id="header">
		<div id="logo"> 
			<h1>RawScripts.com</h1> 
		</div>
		<div id='header_nav'>
			<b id="user">{{  user  }}</b> | <a href="/contact" target="_blank">Contact</a>  |  <a href="/">Home</a> | <a href="http://www.rawscripts.org" target="_blank">Download Source</a> | <a href="{{ sign_out }}">Sign Out</a>
		</div>
		<div id="option_bar">
			<div id="static_buttons">
				<input type='button' onClick="newScriptPrompt()" value='New Script' />
				<input type="button" onClick="uploadPrompt()" value="Upload" />
			</div>
			<div id="owned_script_buttons" class="buttons_block">
				<input type="button" onClick="renamePrompt()" value="Rename" />
				<input type='button' onClick="duplicate()" value='Duplicate' />
				<input type='button' onClick="exportPrompt()" value='Export' />
				<input id="move_to_trash" type='button' onClick="batchProcess('delete')" value='Move to Trash' />
				<select name="move_to_folder" id="move_to_folder" onchange="moveToFolder(this.options[this.selectedIndex].value)">
					<option value="move_to">Move to Folder...</option>
				</select>
			</div>
			<div id="shared_script_buttons" class="buttons_block">
				<input type='button' onClick="exportPrompt()" value='Export' />
			</div>
			<div id="trash_script_buttons" class="buttons_block">
				<input type='button' onClick="batchProcess('undelete')" value='Undelete' />
				<input type='button' onClick="batchProcess('hardDelete')" value='Delete Permanantly' style="margin-left:20px" />
			</div>
			<div id="refresh">
				<a href="javascript:refreshList()"><img id="refresh_icon" src="/static/images/refresh_icon.gif" alt="Refreshing Screenplay List">Refresh</a>
			</div>
		</div>
	</div>


	<div>

		<div id="folders">
			<div id="ownedFolder" class="tab current">My Scripts</div>
			<div id="sharedFolder" class="tab">Shared With Me</div>
			<div id="trashFolder" class="tab">Trash</div>
			<div id="new_folder_div">
				<input type="button" name="new_folder" value="New Folder" id="new_folder" onclick="newFolder()">
			</div>
			<div id="user_folders"></div>
		</div>

		<div id="scriptlists">
			<div id="owned" class="content_plus_header">
				<table class="contentsHeader" width="100%">
					<tr>
						<td style='width:15px;'><input onClick='selectAll(this, "listItems")' type='checkbox' value='all' /></td>
						<td>My Scripts</td>
						<td style="width:120px" align="center">Folder</td>
						<td style="width:120px" align="center">Shared With</td>
						<td style="width:120px" align="center">Email</td>
						<td style="width:160px" align="center">Last Modified</td>
					</tr>
				</table>
				<div id="owned_contents" class="folderContents"></div>
				<div id="loading"><div align="center">Loading...</div></div>
				<div id="noentries" class="none_of_type" align="center">
					<span>You haven't started any scripts yet.</span><br><br>
					<a href='javascript:newScriptPrompt()'>Start a new script</a> or <a href="javascript:uploadPrompt()">Upload an existing one</a> now.
				</div>
			</div>
			<div id="shared" class="content_plus_header">
				<table class="contentsHeader" width="100%">
					<tr>
						<td style='width:15px;'><input onClick='selectAll(this, "sharedListItems")' type='checkbox' value='all' /></td>
						<td>Friends' Scripts</td>
						<td style="width:120px" align="right">Owner</td>
						<td style="width:160px" align="center">Last Modified</td>
					</tr>
				</table>
				<div id="shared_contents" class="folderContents"></div>
				<div id="sharedLoading"><div style="" align="center">Loading...</div></div>
				<div id="sharedNoEntries" class="none_of_type" align="center">No one is sharing scripts with you.</div>
			</div>
			<div id="trash" class="content_plus_header">
				<table class="contentsHeader" width="100%">
					<tr>
						<td style='width:15px;'><input onClick='selectAll(this, "trashListItems")' type='checkbox' value='all' /></td>
						<td>Trash</td>
						<td style="width:160px" align="center">Last Modified</td>
					</tr>
				</table>
				<div id="trash_contents" class="folderContents"></div>
				<div id="trashLoading"><div style="" align="center">Loading...</div></div>
				<div id="trashNoEntries" class="none_of_type" align="center"><p>You have no trash.</p><p>You are a very clean person.</p></div>
			</div>
		</div>
	</div>
	<div id="emailpopup" class="popup_screen">
		<div class="popup_background"></div>
		<div class="popup_block">
			<div class="popup">
				<a href="javascript:hideEmailPrompt()" class="close_popup"><img src="/static//images/close.png" alt="Close Popup"></a>
				<br /><br /><span>Email Script</span><br /><br />
				<label for="recipient">Recipients (max 5, comma seperated)</label><br>
				<textarea class="text_input" rows='4' name='recipient' id='recipient' style="width:400px"></textarea><br />
				<label for="subject">Subject</label><br />
				<input class="text_input" type='text' name='subject' id='subject' style="width:400px" /><br />
				<label for="message">Message (optional)</label><br />
				<div class="text_input" contentEditable='true' name='message' id='email_message'></div><br>
				<select id="emailTitle">
					<option>Without title Page</option>
					<option>With title Page</option>
				</select>
				<a id="edit_title_href" href="#" target="_blank">Edit Title Page</a><br /><br>
				<input type='button' id="emailS" onClick='emailScript()' value='Send' /><br />
			</div>
		</div>
	</div>
	<div id="renamepopup" class="popup_screen">
		<div class="popup_background"></div>
		<div class="popup_block">
			<div class="popup">
				<a href="javascript:hideRenamePrompt()" class="close_popup"><img src="/static/images/close.png" alt="Close Popup"></a>
				<br />
				<p id="renameTitle"></p>
				<br />
				<input type="hidden" value="blank" id="resource_id" />
				<input class="text_input" type='text' name='renameField' id='renameField' style="width:350px" />
				<br />
				<input type='button' onClick='renameScript()' value='Rename' />

				<br />
			</div>
		</div>
	</div>
	<div id="uploadpopup" class="popup_screen">
		<div class="popup_background"></div>
		<div class="popup_block">
			<a href="javascript:hideUploadPrompt()" class="close_popup"><img src="/static/images/close.png" alt="Close Popup"></a><br><br>
			<iframe id="uploadFrame" style="float:none;" frameborder="0" height="200px" src="/convert">
			</iframe>
			<div id="uploading" style="display:none"><p>Converting script...</p><img src="/static/images/uploading.gif" alt="Uploading Screenplay"><br><br></div>
		</div>
	</div>
	<div id="newscriptpopup" class="popup_screen">
		<div class="popup_background"></div>
		<div class="popup_block" style="width:400px;">
			<div class="popup">
				<a href="javascript:hideNewScriptPrompt()" class="close_popup"><img src="/static/images/close.png" alt="Close Popup"></a>
				<br />
				<p>New Script Title</p>
				<br />
				<input class="text_input" type='text' name='newScript' id='newScript' style="width:350px" />
				<br />
				<input type='button' onClick='createScript()' value='Create' id = "createScriptButton" />
				<img src="/static/images/createScriptIcon.gif" id="createScriptIcon" style="visibility:hidden" alt="Creating New Screenplay">

				<br />
			</div>
		</div>
	</div>
	<div id="exportpopup" class="popup_screen">
		<div class="popup_background"></div>
		<div class="popup_block" style="width:500px;">
			<div class="popup">
				<a href="javascript:hideExportPrompt()" class="close_popup"><img src="/static/images/close.png" alt="Close Popup"></a>
				<br />
				<p>Export as...</p>
				<table cellspacing='0' cellpadding='0' style='border:none; width:450px' id="exportList"></table>
				<br />
				<input type='button' onClick='exportScripts()' value='Export' />

				<br />
			</div>
		</div>
	</div>
	<div id="sharepopup" class="popup_screen">
		<div class="popup_background"></div>
		<div class="popup_block" style="width:450px; top:10%">
			<div class="popup">
				<a href="javascript:hideSharePrompt()" class="close_popup"><img src="/static/images/close.png" alt="Close Popup"></a>
				<br>
				Share Script: <b id="shareTitle"></b>
				<br><br>
				<table id="hasAccess" width="350px" cellspacing=0>
				</table><br>
				<span>To be added: (comma seperated)</span><br>
				<textarea rows='3' class="text_input" name='collaborator' id='collaborator'></textarea>
				<br>
				<input type="checkbox" name="email_notify_share" id="email_notify_share" onchange="emailNotifyShare(this)"><span> </span>Send email to new collaborators<br>
				<input type="checkbox" name="email_notify_msg" id="email_notify_msg" onchange="emailNotifyMsg(this)"><span> </span>Add personal message to email<br>
				<div class="text_input" contentEditable='true' name='share_message' id='share_message' style="width:400px; height:80px; overflow:auto; display:none"></div>
				<input id="shareS" type='button' onClick='shareScript()' value='Send Invitations' />
				<input type="hidden" value="blank" id="shareResource_id" />
			</div>
		</div>
	</div>
    {% if not email_verified %}
    <div id="verifyemailpopup" class="popup_screen">
	  <div class="popup_background"></div>
	  <div class="popup_block" style="width:400px; top:10%">
		<div class="popup">
		  <div class="alert">
            Please Verify Your Email Address
          </div>
          <div id="verify-email-body-text">
            <p>
              Rawscripts will soon be changing the way you login, so that you
              will need a username and password. <a style="color:blue" target="_blank" href="http://www.rawscripts.com/blog/Login-System-Changing-Soon">Read more</a>.
            </p>
            <p>
              To ensure a smooth transition, please verify your email
              address. You will be sent a confirmation link.
            </p>
          </div>
          <b>Your email address:</b>
          <br>
		  <input class="text_input" type='text' name='verify-email-input' id='verify-email-input'/>
		  <br />
          <div style="margin-left:150px;margin-top:20px;">
			<input type='button' onClick='verifyEmailRemindLater()' value="Remind Me Later" id="verify-email-remind-later" />
			<input style="margin-left:20px; margin-right:10px;;" type='button' onClick='verifyEmailSubmit()' value='Verify' id="verify-email-submit" />
			<img src="images/createScriptIcon.gif" id="verifyEmailSpinner" style="visibility:hidden" alt="Sending confirmation">
          </div>
		</div>
	  </div>
	</div>
	{% endif %}
</body>
</html>
