<!DOCTYPE html>
<html ng-app="scriptlist" ng-controller="ScriptlistController as sc">
  <head>
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>RawScripts - Scriptlist</title>
	<link rel="shortcut icon" href="/favicon.ico">
    {% include "angular.html" -%}

    {% assets "scriptlist" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

      <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
	  <link rel="stylesheet" href="/static/css/scriptlist.css" />
  </head>

  <body>
	{% include "analytics.html" %}
	<div id="header">

	  <div id="logo"> 
		<h1>RawScripts.com</h1> 
	  </div>
      
	  <div id="header_nav">
		<b id="user">{{  user  }}</b> | <a href="/contact" target="_blank">Contact</a>  |
        <a href="/">Home</a> |
        <a href="http://www.rawscripts.org" target="_blank">Download Source</a> |
        <a href="{{ sign_out }}">Sign Out</a>
	  </div>

	  <div id="option_bar">
		<div id="static_buttons">
		  <input type="button" ng-click="setCurrentModal('new')" value="New Script" />
		  <input type="button" ng-click="setCurrentModal('upload')" value="Upload" />
		</div>
        <div ng-switch="currentFolder">
		  <div id="shared_script_buttons" class="buttons_block" ng-switch-when="shared">
			<input type="button" ng-click="exportModal()" value="Export" />
			<input type="button" ng-click="unfollowScreenplays()" value="Unfollow Screenplays" />
		  </div>
		  <div id="trash_script_buttons" class="buttons_block" ng-switch-when="trash">
			<input type="button" value="Undelete" ng-click="trashCheckedScreenplays(false)" />
			<input type="button" ng-click="hardDelete()" value="Delete Permanantly" style="margin-left:20px" />
		  </div>
		  <div id="owned_script_buttons" class="buttons_block" ng-switch-default>
			<input type="button" ng-click="renameModal()" value="Rename" />
			<input type="button" ng-click="duplicateScreenplay()" value="Duplicate" />
			<input type="button" ng-click="exportModal()" value="Export" />
			<input id="move_to_trash" type="button" value="Move to Trash"
                   ng-click="trashCheckedScreenplays(true)" />
            <select name="move_to_folder" id="move_to_folder"
                    ng-model="sc.moveToFolderSelection"
                    ng-change="moveToFolder()">
              <option value="">Move to Folder...</option>
              <option value="{[ folder[1] ]}" ng-repeat="folder in folders">
                {[ folder[0] ]}
              </option>
              <option value="?none?">Remove From Folder</option>
            </select>
		  </div>
		</div>
		<div id="refresh">
		  <span ng-click="refreshList()">
            <img id="refresh_icon" src="/static/images/refresh_icon.gif"
                 alt="Refreshing Screenplay List"
                 ng-if="refreshing">
            Refresh
          </span>
		</div>
	  </div>
	</div>


	<div>
	  <div id="folders">
        <div id="{[ id ]}Folder" class="tab" ng-repeat="(id, text) in sc.defaultFolders"
             ng-click="setCurrentFolder(id)"
             ng-class="currentFolder === id ? 'current' : ''">
          {[ text ]}
          <span ng-if="id === 'shared' && numberOfUnopenedSharedScreenplays() > 0">
            ({[ numberOfUnopenedSharedScreenplays() ]})
          </span>
        </div>
		<div id="new_folder_div">
		  <input type="button" name="new_folder" value="New Folder" id="new_folder" ng-click="newFolder()">
		</div>
        <div id="user_folders">
          <div id="Folder{[ folder[1] ]}" class="tab" ng-repeat="folder in folders"
               ng-click="setCurrentFolder(folder[1])"
               ng-class="currentFolder === folder[1] ? 'current' : ''">
            <img src="images/folder.png"> {[ folder[0] ]}
            <div class="folder-options">
              <span class="glyphicon glyphicon-pencil" title="Rename"
                    ng-click="renameFolder(folder[1])"></span>
              <span class="glyphicon glyphicon-remove" title="Delete"
                    ng-click="deleteFolder(folder[1])"></span>
            </div>
          </div>
        </div>
	  </div>

	  <div id="scriptlists">
		<div id="owned" class="content_plus_header" ng-show="currentFolder != 'shared'">
		  <table class="contentsHeader" width="100%">
			<tr>
			  <td class="checkboxCell" align="center">
                <input ng-click="selectAll(sc.selectAll)"
                       ng-checked="allAreSelected()"
                       ng-model="sc.selectAll"
                       type="checkbox" value="all" />
              </td>
			  <td>{[ getCurrentFolderName() ]}</td>
			  <td class="folderCell" align="center" ng-hide="currentFolder == 'trash'">Folder</td>
			  <td class="sharedCell" align="center" ng-hide="currentFolder == 'trash'">Shared With</td>
			  <td class="emailCell" align="center" ng-hide="currentFolder == 'trash'">Email</td>
			  <td class="updatedCell" align="center">Last Modified</td>
			</tr>
		  </table>
		  <div id="owned_contents" class="folderContents">
            <div id="list">
              <div id="{[ screenplay.resource_id ]}" class="entry"
                   ng-repeat="screenplay in screenplays|folder:currentFolder"
                   ng-class="screenplay.is_processing ? 'processing' : ''">
                <table width="100%">
                  <tr>
                    <td class="checkboxCell" align="center">
                      <input value="{[ screenplay.resource_id ]}" type="checkbox" name="listItems"
                             ng-model="screenplay.is_checked" />
                    </td>
                    <td ng-if="currentFolder != 'trash'">
                      <a id="name{[ screenplay.resource_id ]}"
                         href="/editor?resource_id={[ screenplay.resource_id ]}"
                         target="_blank">
                         {[ screenplay.title ]}
                      </a>
                      <span class="redAlertSpan" ng-if="screenplay.new_notes > 0">
                        <ng-pluralize count="screenplay.new_notes"
                                      when="{'0':'',
                                             'one': 'New Note',
                                             'other': '{} New Notes'}">
                        </ng-pluralize>
                      </span>
                    </td>
                    <td ng-if="currentFolder == 'trash'">
                      <span id="name{[ screenplay.resource_id ]}"
                            class="actionable-span"
                            ng-click="sc.haveToUndelete()">
                        {[ screenplay.title ]}
                      </span>
                    </td>
                    <td class="folderCell" align="center" ng-hide="currentFolder == 'trash'">
                      <span class="folderSpan" ng-if="screenplay.folder != '?none?'">
                        {[ sc.getFolderName(screenplay.folder, folders) ]}
                      </span>
                    </td>
                    <td class="sharedCell" align="right" ng-hide="currentFolder == 'trash'">
                      <ng-pluralize count="screenplay.shared_with.length"
                                    when="{'0':'',
                                           'one': '1 person ',
                                           'other': '{} people '}">
                      </ng-pluralize>
                      <span class="actionable-span"
                            ng-click="shareModal(screenplay.resource_id)">
                            Manage
                      </span>
                    </td>
                    <td class="emailCell" align="center" ng-hide="currentFolder == 'trash'">
                      <span class="actionable-span emailLink"
                            ng-click="emailModal(screenplay.resource_id)">
                            Email
                      </span>
                    </td>
                    <td class="updatedCell" align="center">
                      {[ screenplay.last_updated ]}
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          
		  <div id="loading" ng-if="refreshing"><div align="center">Loading...</div></div>
		  <div id="noentries" class="none_of_type" align="center"
               ng-if="currentFolder ==='owned' && !hasOwnedScreenplays()">
			<span>You haven't started any scripts yet.</span><br><br>
			<a href="" ng-click="setCurrentModal('new')">Start a new script</a> or <a href="javascript:uploadPrompt()">Upload an existing one</a> now.
		  </div>
          <div id="trashNoEntries" class="none_of_type" align="center"
               ng-if="currentFolder === 'trash' && !hasTrashedScreenplays()">
            <p>You have no trash.</p><p>You are a very clean person.</p>
          </div>
		</div>

		<div id="shared" class="content_plus_header" ng-show="currentFolder == 'shared'">
		  <table class="contentsHeader" width="100%">
			<tr>
			  <td class="checkboxCell" align="center">
                <input ng-click="selectAll(sc.selectAll)"
                       ng-checked="allAreSelected()"
                       ng-model="sc.selectAll"
                       type="checkbox" value="all" />
              </td>
			  <td>Friends' Scripts</td>
			  <td style="width:120px" align="right">Owner</td>
			  <td style="width:160px" align="center">Last Modified</td>
			</tr>
		  </table>

		  <div id="shared_contents" class="folderContents">
            <div id="sharedList">
              <div id="{[ screenplay.resource_id ]}" class="entry"
                   ng-repeat="screenplay in sharedWithMe">
                <table width="100%">
                  <tr>
                    <td class="checkboxCell" align="center">
                      <input value="{[ screenplay.resource_id ]}" type="checkbox" name="sharedListItems"
                             ng-model="screenplay.is_checked" />
                    </td>
                    <td>
                      <a id="name{[ screenplay.resource_id ]}"
                         href="/editor?resource_id={[ screenplay.resource_id ]}"
                         target="_blank">
                         {[ screenplay.title ]}
                      </a>
                      <span class="redAlertSpan" ng-if="screenplay.unopened">
                        New Script
                      </span>
                      <span class="redAlertSpan" ng-if="!screenplay.unopened && screenplay.new_notes > 0">
                        <ng-pluralize count="screenplay.new_notes"
                                      when="{'0':'',
                                             'one': 'New Note',
                                             'other': '{} New Notes'}">
                        </ng-pluralize>
                      </span>
                    </td>
                    <td class="ownerCell" align="right">
                      {[ screenplay.owner ]}
                    </td>
                    <td class="updatedCell" align="center">
                      {[ screenplay.last_updated ]}
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
		  <div id="sharedLoading" ng-if="refreshing"><div style="" align="center">Loading...</div></div>
          <div id="sharedNoEntries" class="none_of_type" align="center"
               ng-if="currentFolder === 'shared' && sharedWithMe.length === 0">
            No one is sharing screenplays with you.
          </div>
		</div>
	  </div>
	</div>


    <div ng-if="currentModal === 'email'" id="emailpopup" class="popup_screen">
	  <div class="popup_background"></div>
	  <div class="popup_block">
		<div class="popup">
		  <a href="" ng-click="setCurrentModal('')" class="close_popup"><img src="/static/images/close.png" alt="Close Popup"></a>
		  <br><br>
          <span>Email Screenplay: {[ checkedScreenplay.title ]}</span>
          <br><br>
          <form ng-submit="emailScreenplay()">
		    <label for="recipient">Recipients (max 5, comma seperated)</label><br>
		    <textarea class="text_input" rows="4" name="recipient" id="recipient" style="width:400px"
                      ng-model="checkedScreenplay.emailRecipients"></textarea>
            <br>
		    <select id="emailTitle" ng-model="checkedScreenplay.emailTitlepage">
			  <option value="0">Without title Page</option>
			  <option value="1">With title Page</option>
		    </select>
		    <a href="/titlepage?resource_id={[ checkedScreenplay.resource_id ]}" target="_blank" style="color:blue">
              Edit Title Page
            </a>
            <br>
            <br>
		    <input type="submit" value="{[ emailing ? 'Sending...' : 'Send' ]}" ng-disabled="emailing">
          </form>
          <br>
		</div>
	  </div>
	</div>

	<div ng-if="currentModal === 'rename'" id="renamepopup" class="popup_screen">
	  <div class="popup_background"></div>
	  <div class="popup_block">
		<div class="popup">
		  <a href="" ng-click="setCurrentModal('')" class="close_popup"><img src="/static/images/close.png" alt="Close Popup"></a>
		  <br>
		  <p id="renameTitle">Renaming: {[ getFirstCheckedScreenplay().title ]}</p>
		  <br>
          <form ng-submit="renameScreenplay()">
		    <input class="text_input" type="text" name="renameField"
                   id="renameField" style="width:350px"
                   ng-model="checkedScreenplay.tmpTitle">
		    <br>
		    <input type="submit" value="Rename" />
          </form>
		  <br>
		</div>
	  </div>
	</div>

	<div ng-if="currentModal === 'upload'" id="uploadpopup" class="popup_screen">
	  <div class="popup_background"></div>
	  <div class="popup_block">
		<a href="" ng-click="setCurrentModal('')" class="close_popup"><img src="/static/images/close.png" alt="Close Popup"></a><br><br>
		<iframe id="uploadFrame" style="float:none;" frameborder="0" height="200px" src="/convert">
		</iframe>
		<div id="uploading" style="display:none"><p>Converting script...</p><img src="/static/images/uploading.gif" alt="Uploading Screenplay"><br><br></div>
	  </div>
	</div>

	<div ng-if="currentModal === 'new'" id="newscriptpopup" class="popup_screen">
	  <div class="popup_background"></div>
	  <div class="popup_block" style="width:400px;">
		<div class="popup">
		  <a href="" ng-click="setCurrentModal('')" class="close_popup">
            <img src="/static/images/close.png" alt="Close Popup">
          </a>
		  <br>
		  <p>New Script Title</p>
		  <br>
          <form ng-submit="newScreenplay()">
		    <input class="text_input" type="text" name="newScript" id="newScript"
                   style="width:350px" ng-model="sc.newScreenplayTitle">
		    <br>
		    <input type="submit"
                   value="{[ creatingNewScreenplay ? 'Creating...' : 'Create' ]}"
                   id="createScriptButton" ng-disabled="creatingNewScreenplay">
            <img ng-if="creatingNewScreenplay" src="/static/images/createScriptIcon.gif"
                 id="createScriptIcon" alt="Creating New Screenplay">
          </form>
		  <br>
		</div>
	  </div>
	</div>

	<div ng-if="currentModal === 'export'" id="exportpopup" class="popup_screen">
	  <div class="popup_background"></div>
	  <div class="popup_block" style="width:500px;">
		<div class="popup">
		  <a href="" ng-click="setCurrentModal('')" class="close_popup"><img src="/static/images/close.png" alt="Close Popup"></a>
		  <br>
		  <p>Export as...</p>
		  <table cellspacing="0" cellpadding="0" style="border:none; width:450px" id="exportList">
            <tr>
              <th>Title</th>
              <th>File Format</th>
              <th>Include Titlepage</th>
              <th ng-if="currentFolder != 'shared'"></th>
            </tr>
            <tr ng-repeat="screenplay in getCheckedScreenplays()">
              <td>{[ screenplay.title ]}</td>
              <td align="center">
                <select ng-model="screenplay.exportFormat">
                  <option value="pdf">PDF</option>
                  <option value="txt">.txt</option>
                </select>
              </td>
              <td align="center">
                <input type="checkbox" ng-model="screenplay.exportTitlepage">
              </td>
              <td ng-if="currentFolder != 'shared'">
                <a href="/titlepage?resource_id={[ screenplay.resource_id ]}"
                   target="_blank" style="color:blue">
                  Edit title Page
                </a>
              </td>
            </tr>
          </table>
		  <br>
		  <input type="button" ng-click="exportScreenplays()" value="Export">
		  <br>
		</div>
	  </div>
	</div>

	<div ng-if="currentModal === 'share'" id="sharepopup" class="popup_screen">
	  <div class="popup_background"></div>
	  <div class="popup_block" style="width:450px; top:10%">
		<div class="popup">
		  <a href="" ng-click="setCurrentModal('')" class="close_popup"><img src="/static/images/close.png" alt="Close Popup"></a>
		  <br>
		  Share Script: <b id="shareTitle">{[ checkedScreenplay.title ]}</b>
		  <br><br>
		  <table id="hasAccess" width="350px" cellspacing=0>
            <tr ng-repeat="email in checkedScreenplay.shared_with">
              <td>{[ email ]}</td>
              <td align="right">
                <span class="actionable-span" ng-click="removeAccess(email)">
                  Remove Access
                </span>
              </td>
            </tr>
		  </table>
          <br>
          <form ng-submit="addCollaborators()">
		    <span>To be added: (comma seperated)</span><br>
		    <textarea rows="3" class="text_input" id="collaborator" ng-model="sc.newCollaborators"></textarea>
		    <br>
		    <input type="checkbox" ng-model="sc.newCollaboratorsNotify"><span> </span>Notify new collaborators by email<br>
		    <input type="submit" value="Add Collaborators">
          </form>
		</div>
	  </div>
	</div>
  </body>
</html>
